mixin field(data)

	- validateFieldClassName = 'js-field-validate';
	- validateGroupClassName = 'js-group-validate';


	case data.type
		when 'select'
			.dropdown.form__select(class=data.classes)
				.btn.dropdown-toggle.d-flex.justify-content-between.align-items-center(type='button', id="dropdownMenuButton2", data-bs-toggle="dropdown", aria-expanded="false")
					span.me-3 !{data.placeholder || 'Choose'}
					+icon('collapseArrow', '', '15px', '20px')
				ul.dropdown-menu(aria-labelledby="dropdownMenuButton2")
					each option in data.options
						li
							a.dropdown-item !{option.value}

		when 'radio'
			div(class=['form__group'])
				label(for=data.id || null class=['form__radio', data.classes || null])
					input(
						class=['visually-hidden', data.validate && validateFieldClassName]
						type='radio'
						checked=data.checked || null
						id=data.id || null
						name=data.name || null
						required=(data.required || data.validate) || null
						placeholder=data.placeholder || null
						value=data.value || null
					)
					span.radio__content #{data.content}
		when 'checkbox'
			div(class=['form__group', data.validate && validateGroupClassName])
				label(for=data.id || null class=['form__checkbox', data.classes || null])
					input(
						class=['visually-hidden', data.validate && validateFieldClassName]
						type='checkbox'
						checked=data.checked || null
						id=data.id || null
						name=data.name || null
						required=(data.required || data.validate) || null
						placeholder=data.placeholder || null
						value=data.value || null
					)
					span.checkbox__content #{data.content}
		when 'textarea'
			div(class=['form__group', data.validate && validateGroupClassName])
				if Boolean(data.label)
					label(class='form__label' for=data.id || null) #{data.label}
				textarea(
					rows=data.rows || '3'
					cols=data.cols || null
					id=data.id || null
					name=data.name || null
					required=(data.required || data.validate) || null
					placeholder=data.placeholder || null
					value=data.value || null
					class=['form__field', data.classes || null, data.validate && validateFieldClassName]

					data-validate-words=data.validateWords || null
					data-validate-length=data.validateLength || null
					data-validate-linked=data.validateLinked || null
					pattern=data.pattern || null
				)
		default
			div(class=['form__group', data.validate && validateGroupClassName])
				if Boolean(data.label)
					label(class='form__label' for=data.id || null) #{data.label}
				input(
					type=data.type
					id=data.id || null
					name=data.name || null
					required=(data.required || data.validate) || null
					placeholder=data.placeholder || null
					value=data.value || null
					class=['form__field', data.classes || null, data.validate && validateFieldClassName]

					data-validate-words=data.validateWords || null
					data-validate-length=data.validateLength || null
					data-validate-linked=data.validateLinked || null
					pattern=data.pattern || null
				)