@import '../../utilites/variables';
@import '../../utilites/mixins';
@import 'node_modules/bootstrap/scss/vendor/rfs';

.page--home {
	@include background('../img/background.jpg');
	a, button {
		@include transition(color);
		&:hover {
			color: get($colors, primary);
		}
	}
	color: get($colors, white);
	.page__content {
		display: flex;
		flex-direction: column;
	}
	main {
		margin: auto 0;
	}
}

.home__intro {
	.button {
		border-color: currentColor;
	}
	&-list {
		font-weight: $font-weight-medium;
	}
}
