@import 'base/root';
@import 'base/reboot';

@import 'components/typography';
@import 'components/header';
@import 'components/footer';
@import 'components/form/group';
@import 'components/form/field';
@import 'components/form/radio-and-checkbox';
@import 'components/form/validation';
@import 'components/lazy';
@import 'components/modal';
@import 'components/buttons';
@import 'components/toast';
@import "components/freeLesson";
@import "components/reviews";

@import 'pages/home/intro';
@import 'pages/politics/intro';
@import 'pages/mainpage/intro';
@import 'pages/course/intro';
@import 'pages/courses/intro';
@import 'pages/contacts/intro';
@import 'pages/about/intro';

.offcanvas__link {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	color: rgba(0, 0, 0, 0.41);
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.11);
	width: 100px;
	text-align: left;
}
.topBack {
	background: linear-gradient(180deg, rgba(255, 251, 204, 0.4) 0%, rgba(232, 189, 209, 0.3) 60%, #ffffff 100%);
	background-size: 75% auto;
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	height: 700px;
	width: 100%;
	z-index: -32;
	@media (max-width: 1000px) {
		background-size: 100% auto;
	}
}
section {
	margin-bottom: 75px;
	@media (max-width: 1000px) {
		margin-bottom: 50px;
		&:last-child {
			margin: 0;
		}
	}
	&:last-child {
		margin: 0;
	}
}

.links {
	word-break: break-all;
}

footer {
	strong {
		text-decoration: underline;
	}
}

.error {
	background: #E9DBEF;
	width: 100%;
	min-height: calc(100vh - 500px);
	padding-top: 50px;
	&_text {
		font-family: 'Montserrat Alternates', sans-serif;
		font-style: normal;
		font-weight: 600;
		font-size: 48px;
		line-height: 59px;
		color: rgba(0, 0, 0, 0.52);
		@media (max-width: 1000px) {
			font-weight: 600;
			font-size: 24px;
			line-height: 29px;
		}
	}
	&_link {
		font-family: 'Montserrat Alternates', sans-serif;
		font-style: normal;
		font-weight: 600;
		font-size: 24px;
		line-height: 29px;
		color: rgba(0, 0, 0, 0.52);
		margin-top: 100px;
		margin-bottom: 100px;
		text-decoration: underline;
		@media (max-width: 1000px) {
			font-weight: 600;
			font-size: 18px;
			line-height: 22px;
			margin-top: 65px;
		}
	}
}

main {
	width: 100%;
	height: 100%;
}
.maskedinput{
	position: relative;
}

