@import '../../utilites/variables';
@import '../../utilites/mixins';
@import 'node_modules/bootstrap/scss/vendor/rfs';

.course {
	@media (max-width: 1000px) {
		margin-left: -20px;
		margin-right: -20px;
	}
	@media (max-width: 400px) {
		margin-left: auto;
		margin-right: auto;
	}

	&__img {
		max-width: 400px;
		width: 100%;
		border-radius: 3000px;
		@media (max-width: 1000px) {
			width: 100%;
			border-radius: 5px;
		}
	}
	&__mobile-back {
		@media (max-width: 1000px) {
			background: url('../img/planets.png');
			background-size: 70%;
			background-repeat: no-repeat;
			background-position: right bottom;
		}
	}
	&__teacher-text {
		@media (max-width: 1000px) {
			font-family: 'Montserrat', sans-serif;
			font-style: normal;
			font-weight: normal;
			font-size: 12px;
			line-height: 155.4%;
		}
	}
	&__program {
		background: rgba(233, 219, 239, 0.73);
		border-radius: 5px;
		&-text {
			font-family: 'Montserrat', sans-serif;
			font-style: normal;
			font-weight: normal;
			font-size: 30px;
			line-height: 155.4%;
			@media (max-width: 1000px) {
				font-weight: normal;
				font-size: 13px;
				line-height: 16px;
			}
		}
		&-list-text {
			font-family: 'Montserrat', sans-serif;
			font-style: normal;
			font-weight: normal;
			font-size: 24px;
			line-height: 155.4%;
			@media (max-width: 1000px) {
				font-weight: normal;
				font-size: 12px;
				line-height: 16px;
			}
		}
		&-header {
			font-weight: 600;
			font-size: 30px;
			line-height: 37px;
			@media (max-width: 1000px) {
				font-weight: 500;
				font-size: 14px;
				line-height: 17px;
			}
		}
		&-icon {
			position: relative;
		}
		.collapseBtn {
			transition: .5s all ease;
			@media (max-width: 1000px) {
				width: 10px;
			}
			&.collapsed {
				transform: rotate(-180deg);
			}
		}
	}

	&__faq {
		background: rgba(67, 146, 241, 0.12);
		box-shadow: 4px 4px 26px -7px rgba(0, 0, 0, 0.25);
		border-radius: 5px;
		.collapseBtn {
			background-image: url('../img/minus.svg');
			background-repeat: no-repeat;
			background-position: center center;
			width: 20px;
			height: 20px;
			&.collapsed {
				width: 20px !important;
				height: 20px !important;
				background: url('../img/plus.svg');
				background-size: contain !important;
				background-repeat: no-repeat;
				background-size: 100%;
			}
		}
	}
	&__total {
		&-wrap {
			background: url('../img/planets.png');
			background-color: #FEF2E3;
			border-radius: 15px;
			@media (max-width: 1000px) {
				background-size: 80%;
				background-repeat: no-repeat;
				background-position: right;
				p {
					font-size: 11px;
					line-height: 155.4%;
				}
			}

		}
	}
	&__infoBlocks {
		justify-content: center;
		.col-lg-4 {
			width: 33.33%;
			@media (max-width: 1000px) {
				width: 50%;
				margin-bottom: 0;
			}
		}
	}
	&__infoBlock {
		&-wrap {
			background: #E9DBEF;
			border-radius: 15px;
		}
	}
	&__back {
		background: url('../img/planets.png');
	}
	&__price {
		color: #4392F1;
		@media (max-width: 1000px) {
			font-size: 14px;
			margin-bottom: 5px;
		}
		&-text {
			font-family: 'Montserrat', sans-serif;
			font-style: normal;
			font-weight: 500;
			font-size: 24px;
			line-height: 176.9%;
			@media (max-width: 1000px) {
				font-size: 12px;
				line-height: 176.9%;
			}
		}
	}
}