@import '../../utilites/variables';
@import '../../utilites/mixins';
@import 'node_modules/bootstrap/scss/vendor/rfs';

.courses {
	&__slider-mobile {
		padding: 0;
		padding-left: 0.875rem;
		.swiper-slide {
			width: 160px;
		}
		@media (min-width: 1000px) {
			display: none;
		}
	}
	.courses__wrap {
		@media (max-width: 1000px) {
			margin-left: -40px;
			margin-right: -40px;
		}
		@media (max-width: 400px) {
			margin-left: -15px;
			margin-right: -15px;
		}
		@media (max-width: 350px) {
			margin-left: auto;
			margin-right: auto;
		}
	}

	&__slider-item {
		width: 150px;
	}

	margin-bottom: 30px;
	&__course {
		&-header {
			@media (max-width: 1000px) {
				font-size: 14px;
				line-height: 17px;
			}
		}
		background: rgba(233, 219, 239, 0.11);
		box-shadow: 4px 4px 26px -7px rgba(0, 0, 0, 0.25);
		border-radius: 34px;
		@media (max-width: 1000px) {
			border-radius: 10px;
		}
		&-teacher-wrap {
			border-right: 1px solid rgba(0, 0, 0, 0.1);
			@media (max-width: 1000px) {
				border: none;
				border-bottom: 1px solid rgba(0, 0, 0, 0.1);
			}
		}
		&__teacher-header {
			font-family: 'Montserrat Alternates', sans-serif;
			font-style: normal;
			font-weight: 600;
			font-size: 24px;
			line-height: 29px;
			color: #000000;
			@media (max-width: 1000px) {
				font-size: 14px;
				line-height: 17px;
				color: rgba(0, 0, 0, 0.18)
			}
		}
		&__type-mobile {
			font-family: 'Montserrat Alternates', sans-serif;
			font-style: normal;
			font-weight: 500;
			font-size: 10px;
			line-height: 12px;
			color: rgba(67, 146, 241, 0.5);
		}
		&-img {
			border-radius: 1000px;
			width: 100%;
			max-width: 200px;
		}
	}
	&__blue {
		color: #4392F1;
	}
	&__header {
		background: url('../img/planets.png');
		background-size: 40%;
		background-repeat: no-repeat;
		background-position: right;

		&-images {
			position: relative;

			img {
				border-radius: 100px;
				position: absolute;

				&:nth-child(1) {
					width: 160px;
					left: -10%;
					top: -100px;
				}

				&:nth-child(2) {
					width: 120px;
					left: -100px;
					top: 50px;
				}
				&:nth-child(3) {
					width: 100px;
					top: 100px;
					right: -70px;
				}
			}
		}
	}
	&__filter {
		background: rgba(226, 207, 234, 0.74);
		border-radius: 17px;
		border: 1px solid #E9DBEF;
		&-border {
			border-top-right-radius: 0;
			border-top-left-radius: 0;
			@media (max-width: 1000px) {
				border-top-right-radius: 17px;
				border-top-left-radius: 17px;
			}
		}
		&-btn {
			font-family: 'Montserrat Alternates', sans-serif;
			font-style: normal;
			font-weight: 500;
			font-size: 14px;
			line-height: 17px;
			width: 100%;
			background: white;
			border-right: 1px solid #E9DBEF;
			border-top: 1px solid #E9DBEF;
			&-mobile {
				background: #FFFDFD;
				border: 1px solid #E9DBEF;
				box-sizing: border-box;
				box-shadow: 4px 4px 26px -7px rgba(0, 0, 0, 0.25);
				border-radius: 10px;
				width: 100%;
				&.active {
					background: #E9DBEF;
				}
				@media (max-width: 1000px) {
					font-family: 'Montserrat', sans-serif;
					font-style: normal;
					font-weight: normal;
					font-size: 11px;
					line-height: 13px;
				}
			}
			&:first-child {
				border-top-left-radius: 17px;
			}
			&:last-child {
				border-top-right-radius: 17px;
			}
			&.active {
				background: #E9DBEF;
			}
		}
	}
}