@import 'mixins';
@import 'rem';
@import 'node_modules/bootstrap/scss/mixins';
@import 'node_modules/bootstrap/scss/functions';

/* Colors variables start */
$colors: (
	primary:                  #0d6efd,
	secondary:                #6c757d,
	success:                  #198754,
	info:                     #0dcaf0,
	warning:                  #ffc107,
	danger:                   #dc3545,
	light:                    #f8f9fa,
	dark:                     #212529,

  white: 		                #ffffff,
  black: 		                #000000,
);
/* Colors variables end */


/* Custom variables start*/
$index: (
	negative: -1,
	default: 1,
	xs: 2,
	sm: 3,
	md: 5,
	lg: 7,
	xl: 9
);

$transition-duration:                         .15;

$pics: (

);

/* Custom variables end*/


/* Bootstrap variables start*/
$theme-colors: (
	"primary":    get($colors, primary),
	"secondary":  get($colors, secondary),
	"success":    get($colors, success),
	"info":       get($colors, info),
	"warning":    get($colors, warning),
	"danger":     get($colors, danger),
	"light":      get($colors, light),
	"dark":       get($colors, dark)
);

$theme-colors-rgb: map-loop($theme-colors, to-rgb, '$value');

$variable-prefix:                         'page-';

$enable-grid-classes:                     true;
$enable-cssgrid:                          true;
$enable-negative-margins:                 true;
$enable-important-utilities:              false;
$enable-smooth-scroll:                    true;
$enable-button-pointers:                  true;

$spacer: rem(14px);
$spacers: (
	0: 0,
	1: $spacer * .25,
	2: $spacer * .5,
	3: $spacer,
	4: $spacer * 1.5,
	5: $spacer * 3,
);

$font-family-sans-serif:                  'Montserrat', sans-serif;
$font-family-sans-serif-alternates:       'Montserrat Alternates', sans-serif;
$font-family-monospace:                   SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$font-family-base:                        $font-family-sans-serif;
$font-family-code:                        $font-family-monospace;

$line-height-base:                        1.35;
$line-height-sm:                          1.15;
$line-height-lg:                          2;

$font-size-root:                          null;
$font-size-base:                          rem(16px);
$font-size-sm:                            $font-size-base * .875;
$font-size-lg:                            $font-size-base * 1.25;

$small-font-size:                         .875em;
$sub-sup-font-size:                       .75em;

$code-font-size:                          $small-font-size;
$pre-color:                               null;
$code-color:                              null;

$table-cell-padding-y:                    $spacer * .75;
$table-caption-color:                     null;
$table-th-font-weight:                    null;

$body-bg:                                 get($colors, white);
$body-color:                              get($colors, black);
$body-font-family:                        $font-family-sans-serif;
$body-text-align:                         null;
$body-font-size:                          $font-size-base;

$link-color:                              inherit;
$link-decoration:                         none;
$link-hover-color:                        get($colors, black);
$link-hover-decoration:                   null;

$headings-margin-bottom:                  $spacer * .75;
$headings-font-family:                    null;
$headings-font-style:                     null;
$headings-font-weight:                    null;
$headings-line-height:                    $line-height-sm;
$headings-color:                          null;

$h1-font-size:                            $font-size-base * 2.5;
$h2-font-size:                            $font-size-base * 2;
$h3-font-size:                            $font-size-base * 1.75;
$h4-font-size:                            $font-size-base * 1.5;
$h5-font-size:                            $font-size-base * 1.25;
$h6-font-size:                            $font-size-base;

$paragraph-margin-bottom:                 $spacer * .5;

$offcanvas-horizontal-width:              100%;
$offcanvas-vertical-height:               rem(350px);
$offcanvas-padding-y:                     $spacer * 2;
$offcanvas-padding-x:                     $spacer * 2;
$offcanvas-transition-duration:           #{$transition-duration}s;

$grid-breakpoints: (
	xs: 0,
	m: 375px,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px,
);
$container-max-widths: (
	m: 360px,
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1140px
);

$grid-columns:                            12;
$grid-gutter-width:                       rem(30px);
$grid-row-columns:                        6;

$gutters:                                 $spacers;

$container-padding-x:                     $grid-gutter-width * .5;

$border-width:                            1px;
$border-widths: (
	default:                                1px,
	small:                                  2px,
	middle:                                 3px,
	large:                                  4px,
	extra:                                  5px
);
$border-color:                            get($colors, dark);

$border-radius:                           2px;
$border-radius-sm:                        4px;
$border-radius-lg:                        6px;
$border-radius-pill:                      50%;

$aspect-ratios: (
	'1x1':                                  100%,
	'4x3':                                  calc(3 / 4 * 100%),
	'3x4':                                  calc(4 / 3 * 100%),
	'16x9':                                 calc(9 / 16 * 100%),
	'21x9':                                 calc(9 / 21 * 100%)
);

$font-weight-light:                       300;
$font-weight-normal:                      400;
$font-weight-medium:                      500;
$font-weight-bold:                        700;
$font-weight-base:                        $font-weight-normal;

$spinner-width:                           1.75em;
$spinner-height:                          $spinner-width;

$hr-margin-y:                             0;
$hr-color:                                get($colors, black);
$hr-height:                               $border-width;

$legend-margin-bottom:                    $spacer * .5;
$legend-font-size:                        $font-size-base * 1.25;
$legend-font-weight:                      null;

$mark-padding:                            .2em;
$mark-bg:                                 #fcf8e3;

$kbd-padding-y:                           .2rem;
$kbd-padding-x:                           .4rem;
$kbd-font-size:                           $code-font-size;
$kbd-color:                               get($colors, white);
$kbd-bg:                                  darken(get($colors, white), 10%);
$nested-kbd-font-weight:                  $font-weight-bold;
/* Bootstrap variables end*/


/* Responsive font-size start*/
$rfs-base-font-size: 											18px;
$rfs-font-size-unit: 											rem;
$rfs-breakpoint: 													get($grid-breakpoints, xl);
$rfs-breakpoint-unit: 										px;
$rfs-two-dimensional: 										false;
$rfs-factor: 															10;
$rfs-class: 															false;
$rfs-rem-value: 													16;
$rfs-safari-iframe-resize-bug-fix: 				false;
$enable-responsive-font-sizes: 						true;
/* Responsive font-size end*/