@import '../../utilites/variables';
@import '../../utilites/mixins';
@import 'node_modules/bootstrap/scss/vendor/rfs';

.page--mainPage {
	.mainBanner {
		position: relative;

		&__absolute-circles {
			position: absolute;
			width: 100%;
			height: 500px;
			z-index: -5;
		}

		&__absolute-circle-1 {
			border: 1px solid rgba(255, 255, 255, 0.8);
			border-radius: 250px;
			box-sizing: border-box;
			width: 300px;
			height: 300px;
			position: absolute;
			margin: auto;
			top: 150px;
			left: 0;
			bottom: 0;
			right: 0;
			z-index: -5;
		}

		&__absolute-circle-2 {
			border: 1px solid rgba(255, 255, 255, 0.8);
			border-radius: 250px;
			box-sizing: border-box;
			width: 500px;
			height: 500px;
			position: absolute;
			margin: auto;
			top: 150px;
			left: 0;
			bottom: 0;
			right: 0;
			z-index: -5;
		}

		&__absolute-circle-3 {
			border: 1px solid rgba(255, 255, 255, 0.8);
			border-radius: 325px;
			box-sizing: border-box;
			width: 650px;
			height: 650px;
			margin: auto;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			z-index: -5;
		}

		button {
			position: relative;

			&:before {
				content: '';
				width: 130px;
				height: 120px;
				display: block;
				background-image: url('../img/line.svg');
				background-repeat: no-repeat;
				background-size: contain;
				position: absolute;
				top: 0;
				right: -180px;
				z-index: -1;
				@media (max-width: 1000px) {
					display: none;
				}
			}
		}

		.mainImg {
			position: relative;

			&:before {
				content: '';
				width: 250px;
				height: 60px;
				display: block;
				background-image: url('../img/dots.svg');
				transform: rotate(180deg);
				background-repeat: no-repeat;
				background-size: contain;
				position: absolute;
				bottom: -40px;
				right: -35px;
				z-index: 2;
			}
		}

		@media (max-width: 1000px) {
			background: url("../img/planets.png");
			background-size: 70%;
			background-position: bottom right;
			background-repeat: no-repeat;
		}
	}

	.arrow {
		position: relative;
		padding: 10px 60px;
		@media (max-width: 1000px) {
			padding: 10px 40px;
		}

		&:before {
			content: '';
			width: 170px;
			height: 170px;
			display: block;
			background-image: url('../img/line.svg');
			background-repeat: no-repeat;
			background-size: contain;
			position: absolute;
			top: -80px;
			left: -210px;
			z-index: -1;
			transform: rotate(160deg);
		}

		@media (max-width: 1000px) {
			&:before {
				content: '';
				width: 60px;
				height: 50px;
				top: 0;
				left: auto;
				right: -80px;
				z-index: -1;
				transform: rotate(0deg);
			}
		}
	}

	.arrow2 {
		position: relative;

		&:before {
			content: '';
			width: 130px;
			height: 120px;
			display: block;
			background-image: url('../img/line2.svg');
			background-repeat: no-repeat;
			background-size: contain;
			position: absolute;
			top: -30px;
			right: -160px;

		}

		@media (max-width: 1000px) {
			&:before {
				content: '';
				width: 60px;
				height: 50px;
				top: 0;
				left: auto;
				right: -80px;
				z-index: -1;
				transform: rotate(0deg);
			}
		}
	}


	.courses {
		margin-bottom: 150px;
		@media (max-width: 1000px) {
			margin-bottom: 50px;
		}

		&__list {
			margin-bottom: 50px;

			&-logo {
				width: 150px;
				height: 130px;
				object-fit: contain;

				@media (max-width: 1000px) {
					width: 100px;
					height: 100px;
				}
			}

			.outer {
				padding: 15px;
				border-radius: 41px;

				.inner {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					text-align: center;
					border-radius: 41px;
				}
			}
		}
	}

	.about {
		margin-bottom: 55px !important;
		@media (max-width: 1000px) {
			margin-bottom: 40px !important;
		}
	}

	.format {
		margin-left: -20px;
		margin-right: -20px;
		@media (max-width: 1000px) {
			margin-bottom: 40px !important;
		}
		@media (max-width: 400px) {
			margin-left: 0;
			margin-right: 0;
		}
		&__list {
			&-wrap {
				.format__list-margin {
					margin-right: 10px;
					@media (max-width: 1000px) {
						margin: 0;
					}
				}

				&:nth-child(2n) {
					.format__list-margin {
						margin-left: 10px;
						margin-right: 0;
						@media (max-width: 1000px) {
							margin: 0;
						}
					}
				}
			}

			&-item {
				box-shadow: 4px 4px 26px -7px rgba(143, 143, 143, 0.37);
				border-radius: 17px;
				background: white;
				&-right {
					img {
						height: 100%;
						object-fit: cover;
						border-top-right-radius: 17px;
						border-bottom-right-radius: 17px;
					}
				}
			}

			&-img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-top-right-radius: 17px;
				border-bottom-right-radius: 17px;
			}
		}
	}

	.back {
		background: linear-gradient(180deg, #ffffff 25%, rgba(232, 189, 209, 0.3) 70%, rgba(255, 251, 204, 0.4) 100%);
		z-index: -32;
		background-size: auto 92%;
		background-repeat: no-repeat;
	}

	.mediaAboutUs {
		&__wrap {
			background: #FFFFFF;
			box-shadow: 4px 4px 26px -7px rgba(143, 143, 143, 0.37);
			border-radius: 34px;
		}

		img {
			width: 100%;
			height: 100%;
			max-width: 100px;
			object-fit: contain;
		}
	}
}