-
	footerNav = [
		{
			name: 'Курсы',
			href: 'courses.html'
		},
		{
			name: 'О нас',
			href: 'about.html'
		},
		{
			name: 'Формат учебы',
			href: 'mainpage.html#format'
		},
		{
			name: 'Отзывы',
			href: 'mainpage.html#reviews'
		},
		{
			name: 'Контакты',
			href: 'contacts.html'
		},
		{
			name: 'Конфиденциальность',
			href: 'politics.html'
		}
	]

footer(class=['footer', 'js-footer'])
	.container.footer.p-lg-3
		.row.mb-4
			.col-12.col-lg-4
				a(href='index.html')
					+icon('Logo', '', '200px', '50px')
		.row.flex-row-reverse.flex-lg-row.justify-content-between
			.d-none.d-lg-block.col-3
				p.text-fs-xxs
					span Образовательные услуги оказываются АНО ДПО «ШАД».Это Школа анализа данных, основанная Яндексом. Оказывает услуги на основании
					a.mx-1(href='/img/license.jpg')
						strong.undelined-black Лицензии № 036031
					span от 24 марта 2015 года. Документ о прохождении обучения по программе дополнительного профессионального образования также выдается АНО ДПО «ШАД». © 2021 АНО ДПО «ШАД», ООО «Яндекс»
			.col-8.col-lg-5.links
				.row.justify-content-start
					each link in footerNav
						.col-6.mb-4.p-0.footer__link
							a(href=link.href)
								p.footer_text.bold !{link.name}
			.col-4.col-lg-3
				p.bold.d-none.d-lg-block Подпишись на нас
				.row.mb-4.my-lg-4.footer__media
					.col-12
						.d-flex
							a(href='#')
								+icon('telegram', '', '20px', '20px')
							a.mx-3(href='#')
								+icon('instagram', '', '20px', '20px')
							a(href='#')
								+icon('facebook', '', '20px', '20px')
				.row
					.col-12.mb-3
						a(href='tel:+7(800)5000522')
							p.footer_text.bold.footer__phone 8 (800) 500-05-22
				.row.d-lg-none
					.col-12
						a(href='img/license.jpg')
							p.bold.underlined-black Лицензия