header(class=['header', 'js-header'])

	-
		nav = [
			{
				name: 'О нас',
				href: 'about.html'
			},
			{
				name: 'Контакты',
				href: 'contacts.html'
			},
			{
				name: 'Отзывы',
				href: 'mainpage.html#reviews'
			}
		]

	.container
		.row.justify-content-between.align-items-center(class='py-5')
			.col-8.col-lg-4
				a(href='index.html')
					+icon('Logo', '', '200px', '50px')
			.col-auto.p-0.d-none.d-lg-block
				a.mainBtn(href='courses.html') Все курсы
			.col-auto(class='deskNav')
				nav.align-items-center.d-flex.flex-row
					each item, index in nav
						+button({
							link: {
								href: item.href || '#'
							},
							type: 'default',
							content: item.name,
							classes: `text-fs-md mx-4 fw-500 nav-link alternates`,
						})
			.col-auto(class='deskNav')
				+button({
					buttonType: 'submit',
					type: 'default',
					content: 'Войти',
					classes: 'rounded px-4 py-2 mainBtn login'
				})
			.col-auto(class='mobileMenu')
				button(type='button' data-bs-toggle='offcanvas' data-bs-target="#js-offcanvas-menu")
					+icon('menu', '', '30px', '30px')

