extends ../layout/offcanvas

block offcanvasContentVariables
	- offcanvasId = 'js-offcanvas-menu'
	- offcanvasClasses = 'offcanvas-end'
	- offcanvasBackdrop = true
	-
		mobileNav = [
			{
				name: 'Все курсы',
				href: 'courses.html'
			},
			{
				name: 'О нас',
				href: 'about.html'
			},
			{
				name: 'Контакты',
				href: 'contacts.html'
			},
			{
				name: 'Отзывы',
				href: 'mainpage.html#reviews'
			},
			{
				name: 'Войти',
				href: '#'
			}
		]

block offcanvasContent
	nav.row.g-3.text-center
		each item, index in mobileNav
			.col-12.d-flex.align-items-start.mb-4
				a.offcanvas__link(href=item.href) !{item.name}