@import '../../utilites/variables';
@import '../../utilites/mixins';
@import 'node_modules/bootstrap/scss/vendor/rfs';

.politics {
	ul li {
		margin-left: 20px;
		font-weight: 500;
	}
	ul li:before {
		content:  "—";
		position: relative;
		left:     -5px;
	}
	p {
		font-weight: 500;
	}
}