@import '../../utilites/variables';
@import '../../utilites/mixins';
@import 'node_modules/bootstrap/scss/vendor/rfs';

.about {
	@media (max-width: 1000px) {
		margin-left: -20px;
		margin-right: -20px;
	}
	@media (max-width: 400px) {
		margin-left: auto;
		margin-right: auto;
	}
	position: relative;
	@media (max-width: 1000px) {
		margin-bottom: 20px;
	}
	&__back {
		position: absolute;
		right: -100px;
		z-index: -1;
		top: -200px;
		width: 50%;
		@media (max-width: 1000px) {
			display: none;
		}
	}
	&__text {
		@media (max-width: 1000px) {
			font-size: 14px;
		}
	}
}
