extends ../../layout/modal

block modalVariables
	- modalId = 'js-example-modal3'
	- modalClasses = 'modal--example 3'

block modalContent

	p.text-fs-xl.bold.mb-3.mb-lg-5 Спасибо за заявку!
	p.modalOne__text.mb-3.mb-lg-0.modal__thanks В ближайшее время с вами свяжется менеджер и ответит на все вопросы!
