extends ../../layout/modal

block modalVariables
	- modalId = 'js-example-modal2'
	- modalClasses = 'modal--example 2'

block modalContent
	p.text-fs-xl.bold.m-0 Оставьте ваш телефон,
	p.text-fs-xl.bold.mb-3.mb-lg-5 мы с вами свяжемся!
	form.form(class=['js-form-validate'])
		.row.modalOne
			.col-md-12.col-lg-12.mb-0
				+field({
					type: 'text',
					placeholder: 'Ваше имя*',
					classes: 'modalOne__field mb-0',
					validate: true,
				})
			.col-md-12.col-lg-12.mb-3.mb-lg-5
				+field({
					type: 'text',
					placeholder: 'Ваш телефон*',
					classes: 'modalOne__field mb-1',
					id: 'modalTel',
					validate: true,
					required: true
				})
				.col-12
					+button({
						buttonType: 'submit',
						type: 'default',
						content: 'Отправить',
						classes: 'mainBtn w-100'
					})
				.col-11.mt-4.col-lg-9
					p.modalOne__text.m-0 Отправляя заявку, вы соглашаетесь с &#160;
						a.modalOne__link(href='politics.html') политикой конфиденциальности