@import '../../utilites/variables';
@import 'node_modules/bootstrap/scss/vendor/rfs';

.form {
	z-index: 100;
	&__label {
		display: block;
		padding-bottom: $spacer * .5;
	}
	input {
		border: 1px solid transparent;
	}

	.is-invalid {
		input {
			border: 1px solid #FF7E7E;
		}
	}

	&__field {
		width: 100%;
		background: #FFFFFF;
		border-radius: 17px;
		border: none;
		outline: none;
		font-family: 'Montserrat', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		min-height: 45px;
		line-height: 17px;
		padding: 15px 30px;
		@include placeholder {
			@include transition;
		}

		&:focus {
			@include placeholder {
				opacity: 0;
				transform: translateX($spacer * .5);
			}
		}
		@media (max-width: 1000px) {
			font-weight: normal;
			font-size: 11px;
			line-height: 13px;
			padding: 10px;
			min-height: 26px;
			border-radius: 6px;
		}
	}

	&__select {
		width: 100%;

		&.header__btn {
			.dropdown-toggle {
				background: #4392F1;
				border-radius: 5px;
				padding: 10px;
				color: white;
				font-style: normal;
				font-weight: 600;
				font-size: 14px;
				line-height: 23px;

				svg {
					fill: white !important;
					width: 12px;
				}
			}

			ul.show {
				transform: translate(0px, 47px) !important;
			}
		}

		&:focus {
			filter: drop-shadow(4px 4px 22px rgba(0, 0, 0, 0.1));
		}

		position: relative;

		option {
			border: 1px solid transparent;
			border-radius: 17px;
			outline: none;
			background: red;

			&:hover {
				background: black;
			}
		}

		display: flex;
		flex-direction: column;

		ul {
			width: 100%;
			display: none;
			border-bottom-right-radius: 17px;
			border-bottom-left-radius: 17px;

			&.show {
				display: block;
				background: white;
				z-index: 1;
				transform: translate(0px, 53px) !important;
				filter: drop-shadow(0px 30px 20px rgba(0, 0, 0, 0.1));
				@media (max-width: 1000px) {
					transform: translate(0px, 44px) !important;
				}
			}
		}

		li {
			padding: 15px 30px;
			background: white;
			cursor: pointer;

			a {
				&:hover {
					color: $primary;
				}
				@media (max-width: 1000px) {
					font-size: 14px;
					line-height: 17px;
				}
			}

			&:hover {
				background: rgba(67, 146, 241, 0.12);
				color: $primary;
			}

			&:last-child {
				border-bottom-right-radius: 17px;
				border-bottom-left-radius: 17px;
				@media (max-width: 1000px) {
					border-bottom-right-radius: 10px;
					border-bottom-left-radius: 10px;
				}
			}
		}

		.btn {
			display: flex;
			background: #FFFFFF;
			border-radius: 17px;
			border: 1px solid transparent;
			-moz-appearance: none; /* Firefox */
			-webkit-appearance: none; /* Safari and Chrome */
			appearance: none;
			outline: none;
			width: 100%;
			padding: 15px;
			font-family: 'Montserrat', sans-serif;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 25px;

			color: rgba(0, 0, 0, 0.34);
			
			@media (max-width: 1000px) {
				border-radius: 5px;
				max-height: 45px;
			}

			.svg-icon {
				transform: rotate(-180deg);
				transition: .25s all ease;
			}

			&.show {
				.svg-icon {
					transform: rotate(0);
				}
			}

			&.show {
				filter: drop-shadow(4px 4px 22px rgba(0, 0, 0, 0.1));
				border-bottom-right-radius: 0;
				border-bottom-left-radius: 0;
			}
		}
	}
	.modalOne {
		&__field {
			border: 1px solid rgba(143, 143, 143, 0.37);;
		}
		button {
			width: 100%;
		}
		&__text {
			font-family: 'Montserrat', sans-serif;
			font-style: normal;
			font-weight: 300;
			font-size: 13px;
			line-height: 16px;
			@media (max-width: 1000px) {
				font-weight: 300;
				font-size: 10px;
				line-height: 12px;
			}
		}
		&__link {
			font-family: 'Montserrat', sans-serif;
			font-style: normal;
			font-weight: 300;
			font-size: 13px;
			line-height: 16px;
			@media (max-width: 1000px) {
				font-weight: 300;
				font-size: 10px;
				line-height: 12px;
			}
			color: #4392F1;
			&:hover {
				color: #437af1;
			}
		}
	}
}