block mainVariables

doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		meta(http-equiv='x-ua-compatible' content="ie=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="description" content="Description of the page less than 150 characters")
		title #{pageTitle}
		link(rel="stylesheet" href="css/libs.css")
		link(rel="stylesheet" href="css/common.css")
		link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
		link(rel="preconnect" href="https://fonts.googleapis.com")
		link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600&display=swap" rel="stylesheet")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/tiny-slider.css")
		link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
		script(src='https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js')
		script(src="https://unpkg.com/imask")

	body

		include ../mixins/icon
		include ../mixins/breadcrumbs
		include ../mixins/title
		include ../mixins/button
		include ../mixins/field
		include ../mixins/lazyImage

		div(
			class=[
				'page',
				pageRootClass && `page--${pageRootClass}`
			]
			id=pageId || 'js-page-regular'
		)
			div(class='page__wrapper' id='js-page-wrapper')
				div(class='page__content')
					include ../components/header
					main.py-0.py-lg-5.pb-5
						block mainContent
				include ../components/footer
		include ../components/modal/example
		include ../components/modal/example2
		include ../components/menu
		script(src='js/iePolyfills.js')
		script(src='js/vendors.js')
		script(src='js/main.js')