block offcanvasContentVariables

div(
	class=[
		'offcanvas',
		offcanvasClasses || null
	]
	id=offcanvasId
	aria-hidden='true'
	data-bs-backdrop=(offcanvasBackdrop ? 'true' : null)
)
	.offcanvas-header
		a(href='index.html')
			+icon('Logo', '', '200px', '50px')
		button(type='button' data-bs-dismiss='offcanvas' aria-label='Close')
			+icon('close', '', '20px', '20px')
	.offcanvas-body
		block offcanvasContent