extends ../layout/main

block mainVariables
	- pageTitle = '404';
	- pageRootClass = 'error';
	- pageId = 'js-page-regular'
	- activeNavIndex = 0

block mainContent
	.error.d-flex.justify-content-center.align-items-center.flex-column
		+lazyImage({
			imageSrc: 'img/Pendilum.png',
			type: 'img',
			classes: '',
			imageClasses: 'w-100 h-100'
		})
		h1.error_text 404 not found
		a.error_link(href='index.html') Вернуться домой
