extends ../layout/main

block mainVariables
	- pageTitle = 'О нас';
	- pageRootClass = 'about';
	- pageId = 'js-page-regular'
	- activeNavIndex = 0

block mainContent
	div.topBack
	.container.mt-0.mt-lg-5
		section.about
			img(src='img/aboutBack.png').about__back
			h2.dots О нас
			.row.my-3.my-lg-5
				.col-12.col-lg-5
					p.bold.about__text Мы - эффективный сервис для увлекательного обучения, не выходя из дома.
					p.my-4.text-fs-md Lorem ipsum dolor sit amet, consectetur adipiscing elit. In bibendum lectus nisl, in tempor est auctor sed. Etiam tristique luctus purus, quis iaculis ligula egestas ac.
					p.my-4.d-none.d-lg-block.text-fs-md Lorem ipsum dolor sit amet, consectetur adipiscing elit. In bibendum lectus nisl, in tempor est auctor sed. Etiam tristique luctus purus, quis iaculis ligula egestas ac.
					p.my-4.d-none.d-lg-block.text-fs-md Lorem ipsum dolor sit amet, consectetur adipiscing elit. In bibendum lectus nisl, in tempor est auctor sed. Etiam tristique luctus purus, quis iaculis ligula egestas ac.
				.col-12.col-lg-7
					img(src='img/about.png')
					p.my-4.d-block.d-lg-none.text-fs-md Lorem ipsum dolor sit amet, consectetur adipiscing elit. In bibendum lectus nisl, in tempor est auctor sed. Etiam tristique luctus purus, quis iaculis ligula egestas ac.
					p.mt-4.d-block.d-lg-none.text-fs-md Lorem ipsum dolor sit amet, consectetur adipiscing elit. In bibendum lectus nisl, in tempor est auctor sed. Etiam tristique luctus purus, quis iaculis ligula egestas ac.
		section.freeLesson
			.freeLesson__back
				.row.freeLesson__wrap.p-0.p-lg-5.py-4.py-lg-5.m-0.m-lg-1
					img.freeLesson__back__img.d-none.d-lg-block(src='img/freelesson.png')
					img.freeLesson__back__img-mobile.d-lg-none.d-block(src='img/freelessonMobile.png')
					.col-12.col-lg-7
						h2.mb-3 Бесплатный пробный урок
						p.my-4 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque bibendum nisl ipsum, vitae gravida ante tempus sed.
						form.form(class=['js-form-validate'])
							.row
								.col-6.col-lg-6
									+field({
										type: 'text',
										placeholder: 'Ваше имя*',
										classes: '',
										validate: true,
										required: true
									})
								.col-6.col-lg-6
									+field({
										type: 'text',
										placeholder: 'Ваш телефон*',
										classes: '',
										id: 'tel',
										validate: true,
										required: true
									})
							p.text-fs-xs.my-4.col-10 Согласен с &nbsp;
								span
									a.freeLesson__link(href='politics.html') политикой конфиденциальности &nbsp;
									span и пользовательским соглашением.
							+button({
								buttonType: 'submit',
								type: 'default',
								content: 'Записаться',
								classes: 'mainBtn'
							})