extends ../layout/main

block mainVariables
	- pageTitle = 'Контакты';
	- pageRootClass = 'contacts';
	- pageId = 'js-page-regular'
	- activeNavIndex = 0

block mainContent
	div.topBack

	.container.mt-0.mt-lg-5
		section.contacts.course__mobile-back
			img.contacts__back.d-none.d-lg-block(src='img/contactsBack.png')
			img.contacts__back-mob.d-block.d-lg-none(src='img/contactsBackMob.png')
			h2.dots Контакты
			.row.my-2.my-lg-5
				.col-12.col-lg-5.d-none.d-lg-block
					img(src='img/contacts.png')
				.col-12.col-lg-6.d-flex.flex-column.justify-content-between
					p.mb-4.mb-lg-5 Свяжитесь с нами любым удобным способом. Мы работаем ежедневно, с 10 до 20. Отвечаем в течении 20 минут. По вопросам сотрудничества пишите нам на почту.
					.row.flex-column.flex-lg-row
						.col-12.col-lg-6.d-flex.justify-content-start.align-items-center.my-2.my-lg-0
							a.d-flex.justify-content-start.align-items-center.contacts__link(href='tel:+78003541111')
								+icon('phone', 'contacts__icon', '20ox', '20px')
								p.mx-2.my-0.fw-500 8 800 354 - 11 - 11
						.col-12.col-lg-6.d-flex.justify-content-start.align-items-center.my-2.my-lg-0
							a.d-flex.justify-content-start.align-items-center.contacts__link(href='mailto:education@gmail.com')
								+icon('mail', 'contacts__icon', '20ox', '20px')
								p.mx-2.my-0.fw-500 education@gmail.com
					.row.my-2.my-lg-4
						.col-12
							.d-flex
								a(href='#')
									+icon('telegram', '', '20px', '20px')
								a.mx-3(href='#')
									+icon('instagram', '', '20px', '20px')
								a(href='#')
									+icon('facebook', '', '20px', '20px')
		section.freeLesson
			.freeLesson__back
				.row.freeLesson__wrap.p-0.p-lg-5.py-4.py-lg-5.m-0.m-lg-1
					img.freeLesson__back__img.d-none.d-lg-block(src='img/freelesson.png')
					img.freeLesson__back__img-mobile.d-lg-none.d-block(src='img/freelessonMobile.png')
					.col-12.col-lg-7
						h2.mb-3 Бесплатный пробный урок
						p.my-4 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque bibendum nisl ipsum, vitae gravida ante tempus sed.
						form.form(class=['js-form-validate'])
							.row
								.col-6.col-lg-6
									+field({
										type: 'text',
										placeholder: 'Ваше имя*',
										classes: '',
										validate: true,
										required: true
									})
								.col-6.col-lg-6
									+field({
										type: 'text',
										placeholder: 'Ваш телефон*',
										classes: '',
										id: 'tel',
										validate: true,
										required: true
									})
							p.text-fs-xs.my-4.col-10 Согласен с &nbsp;
								span
									a.freeLesson__link(href='politics.html') политикой конфиденциальности &nbsp;
									span и пользовательским соглашением.
							+button({
								buttonType: 'submit',
								type: 'default',
								content: 'Записаться',
								classes: 'mainBtn'
							})