extends ../layout/main

block mainVariables
	- pageTitle = 'Список курсов';
	- pageRootClass = 'courses';
	- pageId = 'js-page-regular'
	- activeNavIndex = 0
	-
		courses = [
			{
				img: 'img/teacher.png',
				teacher: 'Нина Максимова',
				teacherText: 'Призер олимпиады им. Л.Эйлера учителей математики. Член жюри международного фестиваля "Золотое Руно" и Санкт-Петербургской олимпиады по математике.',
				type: 'Занятия в группе',
				name: 'Курс подготовки к ОГЭ по обществознанию в мини-группе',
				price: '1250 ₽ в месяц',
				text: 'На курсе сжато разбирается теория 5-8 классов, а также изучается решение заданий из разделов, вызывающих наибольшую сложность — планиметрия, геометрия, графики и функции. Курс подходит ученикам, которые хотят подготовиться с нуля, проработать все части ОГЭ по математике и получить хороший аттестат, а также тем, кто готовится к поступлению в профильный класс или колледж.',
			},
			{
				img: 'img/teacher2.png',
				teacher: 'Мария Картышева',
				teacherText: 'Эксперт ОГЭ и ЕГЭ по русскому языку. Учитель школы "Летово". Ученый секретарь Орфографической комиссии РАН.',
				type: 'Занятия в группе',
				price: '1250 ₽ в месяц',
				name: 'Курс подготовки к ОГЭ по физике для 9 класса',
				text: 'На занятиях учат эффективному алгоритму решения тестовых заданий и написания сочинения и изложения в формате ОГЭ. Отдельное время уделяется подготовке к устному собеседованию. Курс подходит ученикам, которые хотят проработать все части ОГЭ по русскому языку и получить хороший аттестат, а также тем, кто готовится к поступлению в профильный класс или колледж.',
			},
			{
				img: 'img/teacher3.png',
				teacher: 'Мария Картышева',
				price: '1250 ₽ в месяц',
				teacherText: 'Эксперт ОГЭ и ЕГЭ по русскому языку. Учитель школы "Летово". Ученый секретарь Орфографической комиссии РАН.',
				type: 'Занятия в мини-группе',
				name: 'Курс подготовки к ОГЭ по математике для 9 класса',
				text: 'В курсе рассматриваются все темы школьной программы за 7, 8 и 9 класс: механические, тепловые, электрические явления, кинематика, динамика, статика, оптические явления и элементы квантовой физики. По каждой из тем отрабатываются всевозможные тестовые задания, изучается правильное решение задач с развёрнутым ответом, проведение экспериментов.',
			},
			{
				img: 'img/teacher4.png',
				teacher: 'Мария Картышева',
				price: '1250 ₽ в месяц',
				teacherText: 'Эксперт ОГЭ и ЕГЭ по русскому языку. Учитель школы "Летово". Ученый секретарь Орфографической комиссии РАН.',
				type: 'Занятия в мини-группе',
				name: 'Курс подготовки к ОГЭ по математике для 9 класса',
				text: 'В курсе рассматриваются все темы школьной программы за 7, 8 и 9 класс: механические, тепловые, электрические явления, кинематика, динамика, статика, оптические явления и элементы квантовой физики. По каждой из тем отрабатываются всевозможные тестовые задания, изучается правильное решение задач с развёрнутым ответом, проведение экспериментов.',
			},
		]

block mainContent
	.container#container
		section.courses
			.row.courses__header.mt-0.mt-lg-5
				.col-12.col-lg-10
					h2.dots.mb-5 Подберите подходящий вариант обучения
					.row
						.col-12.col-lg-10
							p.text-fs-xl.d-none.d-lg-block.mb-5 Индивидуально с репетитором или в группе на курсах. Улучшайте оценки, закрывайте пробелы в знаниях, готовьтесь к ЕГЭ и ОГЭ, побеждайте на олимпиадах. У вас всё получится!
				.col-lg-2.d-none.d-lg-block
					.courses__header-images
						img(src='img/coursesChild-1.png')
						img(src='img/coursesChild-2.png')
						img(src='img/coursesChild-3.png')
			.swiper.mySwiper.courses__slider-mobile#courseSlide
				.swiper-wrapper
					.col-6.p-0.swiper-slide
						button.courses__filter-btn-mobile.p-3(type='button') Все подряд
					.col-6.p-0.swiper-slide
						button.courses__filter-btn-mobile.p-3(type='button')
							span.me-2 Курсы
					.col-6.p-0.swiper-slide
						button.courses__filter-btn-mobile.p-3(type='button')
							span.me-2 Мини-группы
					.col-6.p-0.swiper-slide
						button.courses__filter-btn-mobile.p-3(type='button')
							span.me-2 Репетиторы
					.col-6.p-0.swiper-slide
						button.courses__filter-btn-mobile.p-3(type='button')
							span.me-2 Пакеты
					.col-6.p-0.swiper-slide
						button.courses__filter-btn-mobile.p-3(type='button')
							span.me-2 Олимпиады
					.col-6.p-0.swiper-slide
						button.courses__filter-btn-mobile.p-3(type='button')
							span.me-2 Тесты
			.row.px-3.courses__slider-mobile#courseSlide
				.courses__slider.d-lg-none.py-3.px-0#coursesSlider


			.row.mb-4.my-lg-5.px-3
				.col-12.p-0.d-none.d-lg-block
					.btn-group.d-flex.justify-content-between(role='group', aria-label='Basic outlined example')
						button.courses__filter-btn.active.p-3(type='button') Все подряд
						button.courses__filter-btn.p-2(type='button')
							span.me-2 Курсы
							+icon('backPack', '', '20px', '25px')
						button.courses__filter-btn.p-2(type='button')
							span.me-0 Мини-группы
							+icon('groups', '', '20px', '15px')
						button.courses__filter-btn.p-2(type='button')
							span.me-2 Репетиторы
							+icon('repetitors', '', '20px', '25px')
						button.courses__filter-btn.p-2(type='button')
							span.me-2 Пакеты
							+icon('packets', '', '20px', '25px')
						button.courses__filter-btn.p-2(type='button')
							span.me-2 Олимпиады
							+icon('diplom', '', '20px', '25px')
						button.courses__filter-btn.p-2(type='button')
							span.me-2 Тесты
							+icon('test', '', '20px', '25px')
				.col-12.p-3.p-lg-5.courses__filter.courses__filter-border
					.row
						.col-12.col-lg-4.mb-3.mb-lg-0.d-flex.justify-content-center
							+field({
								type: 'select',
								classes: '',
								placeholder: 'Класс',
								options: [
									{
										value: 'Select option 1',
										content: 'Select option 1',
										checked: true
									},
									{
										value: 'Select option 2',
										content: 'Select option 2'
									},
									{
										value: 'Select option 3',
										content: 'Select option 3'
									}
								]
							})
						.col-12.col-lg-4.mb-3.mb-lg-0.d-flex.justify-content-center
							+field({
								type: 'select',
								classes: '',
								placeholder: 'Предмет',
								options: [
									{
										value: 'Select option 1',
										content: 'Select option 1',
										checked: true
									},
									{
										value: 'Select option 2',
										content: 'Select option 2'
									},
									{
										value: 'Select option 3',
										content: 'Select option 3'
									}
								]
							})
						.col-12.col-lg-4.mb-3.mb-lg-0.d-flex.justify-content-center
							+field({
								type: 'select',
								classes: '',
								placeholder: 'Цель',
								options: [
									{
										value: 'Select option 1',
										content: 'Select option 1',
										checked: true
									},
									{
										value: 'Select option 2',
										content: 'Select option 2'
									},
									{
										value: 'Select option 3',
										content: 'Select option 3'
									}
								]
							})
			.row.px-3.courses__wrap
				each course in courses
					.col-12.my-2.my-lg-4.courses__course
						.row.flex-column.flex-lg-row
							.col-12.col-lg-4.p-3.p-lg-5.courses__course-teacher-wrap.d-flex.flex-column.justify-content-between
								.d-lg-flex.justify-content-start.d-none
									img.courses__course-img(src=course.img).mb-5
								.row
									.col-8.col-lg-12.d-flex.align-items-center.d-lg-block
										h2.courses__course__teacher-header.col-2 !{course.teacher}
										p.mt-3.text-fs-md.d-none.d-lg-block !{course.teacherText}
									.col-4.d-lg-none.d-flex.align-items-center.d-lg-none
										p.courses__course__type-mobile !{course.type}
							.col-12.col-lg-8.p-3.p-lg-5.d-flex.flex-column.justify-content-between
								p.text-fs-md.bold.underlined.d-none.d-lg-block !{course.type}
								h3.my-3.my-lg-4.courses__course-header !{course.name}
								p !{course.text}
								.row.mt-3.mt-lg-5.flex-column-reverse.flex-lg-row
									.col-12.col-lg-9.d-flex.justify-content-between.d-lg-block
										button.mainBtn(data-bs-toggle='modal'
											data-bs-target='#js-example-modal2') Записаться
										button.mx-1.mx-lg-3.mainBtn.login(data-bs-toggle='modal'
											data-bs-target='#js-example-modal2') Подробнее о курсе
									.col-12.col-lg-3.d-flex.justify-content-lg-end.align-items-center.justify-content-start.mb-3.mb-lg-0
										p.courses__blue !{course.price}
				.col-12.text-center.mt-3.mt-lg-5
					button.mainBtn(type='button') Показать ещё
		section.freeLesson
			.freeLesson__back
				.row.freeLesson__wrap.p-0.p-lg-5.py-4.py-lg-5.m-0.m-lg-1
					img.freeLesson__back__img.d-none.d-lg-block(src='img/freelesson.png')
					img.freeLesson__back__img-mobile.d-lg-none.d-block(src='img/freelessonMobile.png')
					.col-12.col-lg-7
						h2.mb-3 Бесплатный пробный урок
						p.my-4 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque bibendum nisl ipsum, vitae gravida ante tempus sed.
						form.form(class=['js-form-validate'])
							.row
								.col-6.col-lg-6
									+field({
										type: 'text',
										placeholder: 'Ваше имя*',
										classes: '',
										validate: true,
										required: true
									})
								.col-6.col-lg-6
									+field({
										type: 'text',
										placeholder: 'Ваш телефон*',
										classes: '',
										id: 'tel',
										validate: true,
										required: true
									})
							p.text-fs-xs.my-4.col-10 Согласен с &nbsp;
								span
									a.freeLesson__link(href='politics.html') политикой конфиденциальности &nbsp;
									span и пользовательским соглашением.
							+button({
								buttonType: 'submit',
								type: 'default',
								content: 'Записаться',
								classes: 'mainBtn'
							})