extends ../layout/main

block mainVariables
	- pageTitle = 'Курс';
	- pageRootClass = 'course';
	- pageId = 'js-page-regular'
	- activeNavIndex = 0
	-
		reviews = [
			{
				name: 'Светлана',
				age: '50 лет',
				textMain: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque bibendum nisl ipsum, vitae gravida ante tempus sed.',
				textSub: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque bibendum nisl ipsum, vitae gravida ante tempus sed.',
				textCollapse: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque bibendum nisl ipsum, vitae gravida ante tempus sed.',
				date: '22.06.2021',
				img: 'img/review-1.png'
			},
			{
				name: 'Игорь',
				age: '35 лет',
				textMain: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque bibendum nisl ipsum, vitae gravida ante tempus sed.',
				textSub: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque bibendum nisl ipsum, vitae gravida ante tempus sed.',
				textCollapse: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque bibendum nisl ipsum, vitae gravida ante tempus sed.',
				date: '22.06.2021',
				img: 'img/review-2.png'
			},
			{
				name: 'Антон',
				age: '20 лет',
				textMain: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque bibendum nisl ipsum, vitae gravida ante tempus sed.',
				textSub: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque bibendum nisl ipsum, vitae gravida ante tempus sed.',
				textCollapse: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque bibendum nisl ipsum, vitae gravida ante tempus sed.',
				date: '22.06.2021',
				img: 'img/review-3.png'
			},
			{
				name: 'Светлана',
				age: '50 лет',
				textMain: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque bibendum nisl ipsum, vitae gravida ante tempus sed.',
				textSub: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque bibendum nisl ipsum, vitae gravida ante tempus sed.',
				textCollapse: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque bibendum nisl ipsum, vitae gravida ante tempus sed.',
				date: '22.06.2021',
				img: 'img/review-2.png',
			}
		]
	-
		faq = [
			{
				header: 'Какой интернет и какое устройство нужно для комфортной учёбы?',
				text: 'Узнаем о том, как образуются связи между частицами. Как типы химических связей определяют особенности кристаллических решёток и физических свойств веществ',
			},
			{
				header: 'Какой интернет и какое устройство нужно для комфортной учёбы?',
				text: 'Узнаем о том, как образуются связи между частицами. Как типы химических связей определяют особенности кристаллических решёток и физических свойств веществ',
			},
			{
				header: 'Какой интернет и какое устройство нужно для комфортной учёбы?',
				text: 'Узнаем о том, как образуются связи между частицами. Как типы химических связей определяют особенности кристаллических решёток и физических свойств веществ',
			},
			{
				header: 'Какой интернет и какое устройство нужно для комфортной учёбы?',
				text: 'Узнаем о том, как образуются связи между частицами. Как типы химических связей определяют особенности кристаллических решёток и физических свойств веществ',
			}
		]
	-
		total = [
			{
				header: '8 месяцев',
				text: 'С 13 сентября по 13 мая'
			},
			{
				header: '36 занятий',
				text: 'По 2 академических часа'
			},
			{
				header: '20490₽',
				text: 'Доступна рассрочка!'
			}
		]
	-
		programs = [
			{
				header: 'Строение веществ. Химическая связь',
				text: 'Узнаем о том, как образуются связи между частицами. Как типы химических связей определяют особенности кристаллических решёток и физических свойств веществ',
				list: [
					'Металлическая связь. Металлическая кристаллическая решётка. Ионная связь. Ионная кристаллическая решётка', 'Ковалентная полярная и неполярная связь. Атомная и молекулярная кристаллические решётки'
				]
			},
			{
				header: 'Строение веществ. Химическая связь',
				text: 'Узнаем о том, как образуются связи между частицами. Как типы химических связей определяют особенности кристаллических решёток и физических свойств веществ',
				list: [
					'Металлическая связь. Металлическая кристаллическая решётка. Ионная связь. Ионная кристаллическая решётка', 'Ковалентная полярная и неполярная связь. Атомная и молекулярная кристаллические решётки'
				]
			},
			{
				header: 'Строение веществ. Химическая связь',
				text: 'Узнаем о том, как образуются связи между частицами. Как типы химических связей определяют особенности кристаллических решёток и физических свойств веществ',
				list: [
					'Металлическая связь. Металлическая кристаллическая решётка. Ионная связь. Ионная кристаллическая решётка', 'Ковалентная полярная и неполярная связь. Атомная и молекулярная кристаллические решётки'
				]
			},
			{
				header: 'Строение веществ. Химическая связь',
				text: 'Узнаем о том, как образуются связи между частицами. Как типы химических связей определяют особенности кристаллических решёток и физических свойств веществ',
				list: [
					'Металлическая связь. Металлическая кристаллическая решётка. Ионная связь. Ионная кристаллическая решётка', 'Ковалентная полярная и неполярная связь. Атомная и молекулярная кристаллические решётки'
				]
			}
		]
	-
		infoBlocks = [

			{
				text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
				subtext: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
			},
			{
				text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
				subtext: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
			},
			{
				text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
				subtext: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
			},
			{
				text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
				subtext: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
			},
			{
				text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
				subtext: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
			}
		]
block mainContent
	.container.mt-0.mt-lg-5#container
		section.course
			.row
				.col-12.col-lg-7.d-flex.flex-column.justify-content-end.mb-4.mb-lg-0.course__mobile-back
					h2.dots.mb-5 Курс по химии для 8 класса (базовый уровень)
					p.text-fs-xl.mb-5.d-none.d-lg-block Основа курса – УМК Г.Е. Рудзитиса «Химия 8-9 классы». Химия «с нуля»: просто, понятно и красочно. Теория, решение задач и эксперименты — изучите предмет и удивляйте окружающих необычными опытами. План занятий – на 95% авторский, основан на учебной литературе, рекомендованной министерством просвещения.
					h2
						.row
							.col-12.d-flex.flex-lg-row.flex-column.align-items-start.align-items-lg-end
								span.course__price 1250 ₽ в месяц
								span.course__price-text.mx-0.mx-lg-5 Доступна рассрочка
					.row.mt-1.mt-lg-5
						.col-12
							button.mainBtn(data-bs-toggle='modal'
								data-bs-target='#js-example-modal2') Купить курс
							button.mainBtn.ms-4.ms-lg-5(data-bs-toggle='modal'
								data-bs-target='#js-example-modal2') Начать бесплатно
				.col-12.col-lg-5
					.row.flex-lg-column
						.col-5.col-lg-12.mb-0.mb-lg-5.course__back
								img.course__img.d-lg-none(src='img/teacherMob.png')
								img.course__img.d-none.d-lg-block(src='img/teacher.png')
						.col-7.col-lg-12
							h2.my-lg-3.mb-3 Нина Максимова
							p.m-0.course__teacher-text Призер олимпиады им. Л.Эйлера учителей математики. Член жюри международного фестиваля "Золотое Руно" и Санкт-Петербургской олимпиады по математике.
			.row.mt-3.mt-lg-5.mb-4.mb-lg-5.course__infoBlocks.justify-content-center.gx-4.gy-3.gx-lg-5.gy-lg-4
				each block in infoBlocks
					.col-6.col-lg-4.course__infoBlock
						.course__infoBlock-wrap.p-3.p-lg-4.my-1
							p.text-fs-xl.my-0.mb-lg-4.bold !{block.text}
							p.text-fs-md.d-none.d-lg-block !{block.subtext}
			h2.mb-3.mb-lg-5 Программа курса
			.row.mb-4.mb-lg-5.px-3
				each program in programs
					.col-12.p-3.p-lg-5.course__program.my-2.my-lg-3
						.row
							.col-12.d-flex.align-items-center.justify-content-between
								h3.course__program-header.my-3.bold !{program.header}
								button.collapseBtn(
									type='button',
									data-bs-toggle='collapse',
									data-bs-target='#collapseExample-' + programs.indexOf(program),
									aria-expanded='false',
									aria-controls='collapseExample')
									+icon('collapseArrow', '', '20px', '20px')
							.col-12.collapse(id=`collapseExample-` + programs.indexOf(program), )
								p.course__program-text !{program.text}
								ul.my-4
									each item in program.list
										li.my-4
											p.text-fs-xl.d-flex.align-items-center.course__program-list-text
												+icon('listEllips', 'course__program-icon', '20px', '20px')
												span.mx-3 !{item}

			h2.mb-4.mb-lg-5 Итого
			.rowp-1.mb-4.mb-lg-5
				.col-12.course__total-wrap
					.row.p-4.p-lg-5
						each item in total
							.col-12.col-lg-4.d-flex.justify-content-between.d-lg-block.my-3.my-lg-0
								h2.mb-0.mb-lg-5 !{item.header}
								p.text-fs-xl !{item.text}

			h2.mb-3.mb-lg-5 Часто задаваемые вопросы
			.row.mb-4.mb-lg-5.px-4
				each question in faq
					.col-12.p-3.p-lg-5.course__faq.my-2.my-lg-3
						.row
							.col-12.d-flex.align-items-center.justify-content-between
								h3.course__program-header.my-3 !{question.header}
								button.collapseBtn(
									type='button',
									data-bs-toggle='collapse',
									data-bs-target='#collapseFaq-' + faq.indexOf(question),
									aria-expanded='false',
									aria-controls='collapseFaq')
							.col-12.collapse(id=`collapseFaq-` + faq.indexOf(question), )
								p.text-fs-xl !{question.text}

		section.reviews
			h2.dots Отзывы
			.swiper.mainSwiper#mainSlider
				.swiper-wrapper
					each review in reviews
						div.swiper-slide.reviews__review
							.row.justify-content-center
								.col-11
									.row.p-3
										.col-5
											img.swiper-lazy(src=review.img)
										.col-7
											h4 !{review.name}, !{review.age}
											p.text-fs-md !{review.textMain}
											.collapse(id=`collapseExample-` + reviews.indexOf(review), )
												p.text-fs-md !{review.textSub}
												p.text-fs-md !{review.textCollapse}
											.row
												.col-6.d-flex.align-items-center
													p.text-fs-md !{review.date}
												.col-6.d-flex.justify-content-end.align-items-center
													button.collapseBtn(
														type='button',
														data-bs-toggle='collapse',
														data-bs-target='#collapseExample-' + reviews.indexOf(review),
														aria-expanded='false',
														aria-controls='collapseExample')
			.d-none.reviews__controls.d-lg-flex.justify-content-end.px-0.mt-5#controls
				button.right.mx-4#left
					+icon('arrowLeft', '', '65px', '40px')
				button.left.mx-4#right
					+icon('arrowRight', '', '65px', '40px')
		section.freeLesson
			.freeLesson__back
				.row.freeLesson__wrap.p-0.p-lg-5.py-4.py-lg-5.m-0.m-lg-1
					img.freeLesson__back__img.d-none.d-lg-block(src='img/freelesson.png')
					img.freeLesson__back__img-mobile.d-lg-none.d-block(src='img/freelessonMobile.png')
					.col-12.col-lg-7
						h2.mb-3 Бесплатный пробный урок
						p.my-4 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque bibendum nisl ipsum, vitae gravida ante tempus sed.
						form.form(class=['js-form-validate'])
							.row
								.col-6.col-lg-6
									+field({
										type: 'text',
										placeholder: 'Ваше имя*',
										classes: '',
										validate: true,
										required: true
									})
								.col-6.col-lg-6
									+field({
										type: 'text',
										placeholder: 'Ваш телефон*',
										classes: '',
										id: 'tel',
										validate: true,
										required: true
									})
							p.text-fs-xs.my-4.col-10 Согласен с &nbsp;
								span
									a.freeLesson__link(href='politics.html') политикой конфиденциальности &nbsp;
									span и пользовательским соглашением.
							+button({
								buttonType: 'submit',
								type: 'default',
								content: 'Записаться',
								classes: 'mainBtn'
							})