extends ../layout/main

block mainVariables
	- pageTitle = 'Навигатор по страницам'
	- pageRootClass = null
	- activeNavIndex = 2

block mainContent
	.container-fluid.py-5
		.row
			.col-md-6.mx-auto
				h1.title.title--normal.pb-4 Навигатор по станицам
				ul.d-flex.flex-column
					-
						pages = [
							{
								href: 'ui.html',
								name: 'Ui kit',
								done: false,
								adaptive: false
							},
							{
								href: 'mainpage.html',
								name: 'Главная',
								done: true,
								adaptive: true
							},
							{
								href: 'course.html',
								name: 'Курс',
								done: true,
								adaptive: true
							},
							{
								href: 'course6.html',
								name: 'Курс6',
								done: true,
								adaptive: true
							},
							{
								href: 'courses.html',
								name: 'Все Курсы',
								done: true,
								adaptive: true
							},
							{
								href: 'about.html',
								name: 'О нас',
								done: true,
								adaptive: true
							},
							{
								href: 'contacts.html',
								name: 'Контакты',
								done: true,
								adaptive: true
							},
							{
								href: '404.html',
								name: 'Error',
								done: true,
								adaptive: true
							},
							{
								href: 'politics.html',
								name: 'Политика',
								done: true,
								adaptive: true
							},
							{
								href: 'img/license.jpg',
								name: 'Лицензия',
								done: true,
								adaptive: true
							},
						]
					each page in pages
						- color = (page.done && page.adaptive) ? '#81c784' : '#EE8732'

						li(style=`background-color: ${page.done ? color : '#e57373'};`).mb-3
							a(
								href=page.href
								style='padding: 10px 15px; color: white;'
							).py-2.d-inline-block.page__text--large.d-block #{page.name}#{!page.adaptive && ' - без адаптивности' || null}