extends ../layout/main

block mainVariables
	- pageTitle = 'Главная';
	- pageRootClass = 'mainPage';
	- pageId = 'js-page-regular'
	- activeNavIndex = 0
	-
		reviews = [
			{
				name: 'Светлана',
				age: '50 лет',
				textMain: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque bibendum nisl ipsum, vitae gravida ante tempus sed.',
				textSub: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque bibendum nisl ipsum, vitae gravida ante tempus sed.',
				textCollapse: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque bibendum nisl ipsum, vitae gravida ante tempus sed.',
				date: '22.06.2021',
				img: 'img/review-1.png'
			},
			{
				name: 'Игорь',
				age: '35 лет',
				textMain: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque bibendum nisl ipsum, vitae gravida ante tempus sed.',
				textSub: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque bibendum nisl ipsum, vitae gravida ante tempus sed.',
				textCollapse: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque bibendum nisl ipsum, vitae gravida ante tempus sed.',
				date: '22.06.2021',
				img: 'img/review-2.png'
			},
			{
				name: 'Антон',
				age: '20 лет',
				textMain: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque bibendum nisl ipsum, vitae gravida ante tempus sed.',
				textSub: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque bibendum nisl ipsum, vitae gravida ante tempus sed.',
				textCollapse: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque bibendum nisl ipsum, vitae gravida ante tempus sed.',
				date: '22.06.2021',
				img: 'img/review-3.png'
			},
			{
				name: 'Светлана',
				age: '50 лет',
				textMain: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque bibendum nisl ipsum, vitae gravida ante tempus sed.',
				textSub: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque bibendum nisl ipsum, vitae gravida ante tempus sed.',
				textCollapse: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque bibendum nisl ipsum, vitae gravida ante tempus sed.',
				date: '22.06.2021',
				img: 'img/review-2.png',
			},
			{
				name: 'Светлана',
				age: '50 лет',
				textMain: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque bibendum nisl ipsum, vitae gravida ante tempus sed.',
				textSub: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque bibendum nisl ipsum, vitae gravida ante tempus sed.',
				textCollapse: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque bibendum nisl ipsum, vitae gravida ante tempus sed.',
				date: '22.06.2021',
				img: 'img/review-3.png',
			}
		]
	-
		formats = [
			{
				name: 'Занятия в мини-группе',
				text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
				price: 'От 4400 руб',
				src: 'img/index/format/format-1.png',
				subtext: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque bibendum nisl ipsum, vitae gravida ante tempus sed. Mauris molestie tincidunt nisl a posuere. Integer euismod lacus est, vitae lobortis est commodo vel. Integer eu tellus mauris. Morbi aliquet tempus justo et luctus.'
			},
			{
				name: 'Занятия с репетитором',
				text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
				price: 'От 4400 руб',
				src: 'img/index/format/format-2.png',
				subtext: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque bibendum nisl ipsum, vitae gravida ante tempus sed. Mauris molestie tincidunt nisl a posuere. Integer euismod lacus est, vitae lobortis est commodo vel. Integer eu tellus mauris. Morbi aliquet tempus justo et luctus.'
			},
		]
	-
		courses = [
			{
				name: 'Русский язык',
				text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque bibendum nisl ipsum, vitae gravida ante tempus sed.',
				background: '#EE4266',
				numOfCourses: 5,
				icon: 'book'
			},
			{
				name: 'Математика',
				text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque bibendum nisl ipsum, vitae gravida ante tempus sed.',
				background: '#F7B267',
				numOfCourses: 5,
				icon: 'calc'
			},
			{
				name: 'Обществознание',
				text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque bibendum nisl ipsum, vitae gravida ante tempus sed.',
				background: '#E2CFEA',
				numOfCourses: 5,
				icon: 'soc'
			},
			{
				name: 'Физика',
				text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque bibendum nisl ipsum, vitae gravida ante tempus sed.',
				background: '#FDE74C',
				numOfCourses: 5,
				icon: 'phys'
			},
			{
				name: 'Биология',
				text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque bibendum nisl ipsum, vitae gravida ante tempus sed.',
				background: '#80D39B',
				numOfCourses: 5,
				icon: 'cact'
			},
			{
				name: 'Остальные предметы',
				text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque bibendum nisl ipsum, vitae gravida ante tempus sed.',
				background: '#FCD29F',
				numOfCourses: 5,
				icon: 'others'
			},
		]

block mainContent
	div.topBack
	.container#container
		section.mainBanner
			.row
				.d-none.d-lg-block.mainBanner__absolute-circles
					.mainBanner__absolute-circle-1
					.mainBanner__absolute-circle-2
					.mainBanner__absolute-circle-3
				.col-12.col-sm-12.col-md-12.col-lg-8.d-flex.flex-column.justify-content-center
					h1.mb-5
						+icon('Logo', '', '300px', '100px')
					p.text-fs-xl.m-0.fw-500 эффективный сервис для увлекательного обучения не выходя из дома.
					p.text-fs-xl.mb-5.fw-500 Нужен лишь интернет и тяга к знаниям.
					p.text-fs-xl.my-5.d-none.d-lg-block Присоединяйся!
					button.mainBtn(type='button' data-bs-toggle='modal'
						data-bs-target='#js-example-modal2') Начать учиться
				.d-none.d-lg-block.col-lg-4
					+lazyImage({
						imageSrc: 'img/index/pexels-julia-m-cameron-4145347 1.png',
						type: 'img',
						classes: 'mainImg',
						imageClasses: 'w-100 h-100'
					})
				//.d-none.d-lg-flex.col-lg-4.mainImg
				//	img(src='img/index/pexels-julia-m-cameron-4145347 1.png')

		section.courses
			h2.dots.mb-4 Наши курсы
			p.text-size-xl.mb-4 Что ты бы хотел выучить?
			.row.courses__list
				each course in courses
					.col-lg-6.col-12.my-3
							div.outer(style={'border': '1px solid' + course.background})
								.inner.p-3.p-lg-5(style={'background': course.background, height: '100%'})
									//img.courses__list-logo.mb-3(src=course.src)
									+icon(course.icon, 'mt-5 courses__list-logo', '150px', '150px')
									h3.m-3.m-lg-4 !{course.name}
									p.mb-3.mb-lg-4 !{course.text}
									a.listBtn.m-4.m-lg-5(href='courses.html') !{course.numOfCourses} курсов
										span
											+icon('arrowCourse', '', '10px', '13px')



			p.mb-3.courses__text.text-fs-xl.fw-500 Не нашел то, что искал?
			.row.text-center(style={'width': '100%'})
				.col-12.d-flex.align-items-start.d-lg-block
					a(href='courses.html').mainBtn.my-2.my-lg-5.arrow Все курсы


	div.back
		.container
			section.about
				h2.dots.mb-3.mb-lg-5 Немного о нас
				p.mb-4.mb-lg-5.text-fs-xl.bold Давай познакомимся поближе!
				.row
					.col-12.col-lg-5.pe-5.d-flex.flex-column.justify-content-between
						h4 Мы - комманда профессиональных специалистов
						p.text-fs-md.mb-4.mb-lg-5 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque bibendum nisl ipsum, vitae gravida ante tempus sed. Mauris molestie tincidunt nisl a posuere.
						h4 Ты можешь подобрать комфортный для себя тариф
						p.text-fs-md.mb-4.mb-lg-5 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque bibendum nisl ipsum, vitae gravida ante tempus sed. Mauris molestie tincidunt nisl a posuere.
						h4 80,4  балла -
						p.text-fs-md.mb-4.mb-lg-5 это средний результат ЕГЭ наших учеников
						button.mainBtn.arrow2(data-bs-toggle='modal'
							data-bs-target='#js-example-modal2') Узнать больше
					.d-none.d-lg-flex.col-6.col-lg-7
						//img.mainImg(src='img/index/aboutPic.png')
						+lazyImage({
							imageSrc: 'img/index/aboutPic.png',
							type: 'img',
							classes: 'mainImg',
							imageClasses: 'w-100 h-100'
						})
			section.format#format
				h2.mb-4.mb-lg-5 Выбери удобный формат учебы!
				.row.format__list.justify-content-between
					each format in formats
						.col-12.col-lg-6.mb-3.format__list-wrap
							.format__list-margin
								.row.format__list-item.mx-0.mb-4
									.col-6.p-3.p-lg-4.format__list-item-left.d-flex.flex-column.justify-content-center
										h4 !{format.name}
										p.text-fs-md !{format.text}
										p.text-fs-md.bold.my-3 !{format.price}
										button.mainBtn(data-bs-toggle='modal'
											data-bs-target='#js-example-modal2') Подробности
									.col-6.p-0.format__list-item-right
										+lazyImage({
											imageSrc: format.src,
											type: 'img',
											classes: 'format__list-img',
											imageClasses: 'w-100 h-100'
										})
								.row.d-none.d-lg-flex
									.col-12.col-lg-10
										p.text-fs-md !{format.subtext}
			section.freeLesson
				h2.freeLesson__text.mb-4.mb-lg-5 Пройди первый урок бесплатно!
				.freeLesson__back
					.row.freeLesson__wrap.p-0.p-lg-5.py-4.py-lg-5.m-0.m-lg-1
						img.freeLesson__back__img.d-none.d-lg-block(src='img/freelesson.png')
						img.freeLesson__back__img-mobile.d-lg-none.d-block(src='img/freelessonMobile.png')
						.col-12.col-lg-7
							h2.mb-3 Бесплатный пробный урок
							p.my-4 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque bibendum nisl ipsum, vitae gravida ante tempus sed.
							form.form(class=['js-form-validate'])
								.row
									.col-6.col-lg-6
										+field({
											type: 'text',
											placeholder: 'Ваше имя*',
											classes: '',
											validate: true,
											required: true
										})
									.col-6.col-lg-6
										+field({
											type: 'text',
											placeholder: 'Ваш телефон*',
											classes: '',
											id: 'tel',
											validate: true,
											required: true
										})
								p.text-fs-xs.my-4.col-10 Согласен с &nbsp;
									span
										a.freeLesson__link(href='politics.html') политикой конфиденциальности &nbsp;
										span и пользовательским соглашением.
								+button({
									buttonType: 'submit',
									type: 'default',
									content: 'Записаться',
									classes: 'mainBtn'
								})
			section.reviews#reviews
				h2.dots Отзывы
				.mt-3.mt-lg-4.swiper.mainSwiper#mainSlider
					.swiper-wrapper
						each review in reviews
							div.swiper-slide.reviews__review
								.row.justify-content-center
									.col-11
										.row.p-3
											.col-5
												img.swiper-lazy(src=review.img)
											.col-7
												h4 !{review.name}, !{review.age}
												p.text-fs-md !{review.textMain}
												.collapse(id=`collapseExample-` + reviews.indexOf(review), )
													p.text-fs-md !{review.textSub}
													p.text-fs-md !{review.textCollapse}
												.row
													.col-6.d-flex.align-items-center
														p.text-fs-md !{review.date}
													.col-6.d-flex.justify-content-end.align-items-center
														button.collapseBtn(
															type='button',
															data-bs-toggle='collapse',
															data-bs-target='#collapseExample-' + reviews.indexOf(review),
															aria-expanded='false',
															aria-controls='collapseExample')
				.d-none.reviews__controls.d-lg-flex.justify-content-end.px-0.mt-5#controls
					button.right.mx-4#left
						+icon('arrowLeft', '', '65px', '40px')
					button.left.mx-4#right
						+icon('arrowRight', '', '65px', '40px')
	.container
		section.mediaAboutUs
			h2.dots СМИ о нас
			.row.my-4.my-lg-5
				.col-12.col-lg-6.my-3.my-lg-0
					a(href='#')
						.mediaAboutUs__wrap.p-3.px-5
							.row
								.col-12.d-flex.justify-content-center.p-5
									+icon('tinkoff', '', '200px', '200px')
							h3.my-3 Lorem ipsum dolor sit amet
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque bibendum nisl ipsum
				.col-12.col-lg-6.d-flex.justify-content-between.flex-column
					a(href='#')
						.mediaAboutUs__wrap.my-3.my-lg-0.p-1.px-3
							.row
								.col-4.d-flex.justify-content-center.p-3.p-lg-5
									+lazyImage({
										imageSrc: 'img/vc.ru.png',
										type: 'img',
										classes: 'mediaAboutUs__img',
										imageClasses: 'w-100'
									})
								.col-8
									h3.my-3 Lorem ipsum dolor sit amet
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque bibendum nisl ipsum
					a(href='#')
						.mediaAboutUs__wrap.my-3.my-lg-0.p-1.px-3
							.row
								.col-4.d-flex.justify-content-center.p-3.p-lg-5
									+lazyImage({
										imageSrc: 'img/holon.png',
										type: 'img',
										classes: 'mediaAboutUs__img',
										imageClasses: 'w-100'
									})
								.col-8
									h3.my-3 Lorem ipsum dolor sit amet
									p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque bibendum nisl ipsum
			//.row
			//	.col-12.text-center
			//		button.mainBtn(type='button') Читать больше