extends ../layout/main

block mainVariables
	- pageTitle = 'Политика персональных данных';
	- pageRootClass = 'politics';
	- pageId = 'js-page-regular'
	- activeNavIndex = 0

block mainContent
	.container.mt-0.mt-lg-5
		section.politics
			h2.mb-5 Политика обработки персональных данных
			h3.mb-4 1. Общие положения
			p 1.1. Настоящая Политика конфиденциальности персональных данных (далее – Политика конфиденциальности) определяет порядок обработки персональных данных и меры по обеспечению безопасности персональных данных Пользователей, которые ОДО «АВЕКТИС» (далее – Администрация сайта) может получить при использовании Посетителями корпоративного сайта avectis.by (далее – Сайта).
			p 1.2. Использование Пользователем Сайта означает согласие с настоящей Политикой конфиденциальности и условиями обработки персональных данных Пользователя.
			p 1.3. В случае несогласия с условиями Политики конфиденциальности Пользователь должен прекратить использование Сайта.
			p 1.4. Настоящая Политика конфиденциальности применяется только к Сайту. Сайт не контролирует и не несет ответственность за сайты третьих лиц, на которые Пользователь может перейти по ссылкам, доступным на Сайте.
			p 1.5. Администрация Сайта не проверяет достоверность персональных данных, предоставляемых Пользователем Сайта.
			h3.my-4 2. Основные понятия, используемые в Политике конфиденциальности
			p «Автоматизированная обработка персональных данных» – обработка персональных данных с помощью средств вычислительной техники;
			p «Блокирование персональных данных» – временное прекращение обработки персональных данных (за исключением случаев, если обработка необходима для уточнения персональных данных);
			p «Сайт» – совокупность графического и информационного контента, а также программ для ЭВМ и баз данных, обеспечивающих их доступность в сети интернет по сетевому адресу avectis.by, включая его подстраницы;
			p «Информационная система персональных данных» — совокупность содержащихся в базах данных персональных данных, а также обеспечивающих их обработку информационных технологий и технических средств;
			p «Обезличивание персональных данных» — действия, в результате которых невозможно определить без использования дополнительной информации принадлежность персональных данных конкретному Пользователю или иному субъекту персональных данных;
			p «Обработка персональных данных» – любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных;
			p Администрация сайта – уполномоченные сотрудники по управлению сайтом, действующие от имени Общества с дополнительной ответственностью «АВЕКТИС», организующие и (или) осуществляющие обработку персональных данных, а также определяющие цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия, совершаемые с персональными данными;
			p «Персональные данные» – любая информация, относящаяся к идентифицированному Пользователю или Пользователю, который может быть идентифицирован на основании такой информации
			p «Пользователь» – любой посетитель сайта avectis.by;
			p «Предоставление персональных данных» – действия, направленные на раскрытие персональных данных определенному лицу или определенному кругу лиц;
			p «Распространение персональных данных» – любые действия, направленные на раскрытие персональных данных неопределенному кругу лиц (передача персональных данных) или на ознакомление с персональными данными неограниченного круга лиц, в том числе обнародование персональных данных в средствах массовой информации, размещение в информационно-телекоммуникационных сетях или предоставление доступа к персональным данным каким-либо иным способом;
			p «Трансграничная передача персональных данных» – передача персональных данных на территорию иностранного государства органу власти иностранного государства, иностранному физическому или иностранному юридическому лицу;
			p «Уничтожение персональных данных» – любые действия, в результате которых персональные данные уничтожаются безвозвратно с невозможностью дальнейшего восстановления содержания персональных данных в информационной системе персональных данных и (или) результате которых уничтожаются материальные носители персональных данных.
			p Термины, определения которых не указаны выше в настоящем разделе, используются в значении, установленном законодательством Республики Беларусь.
			h3.my-4 3. Предмет политики конфиденциальности
			p Администрация сайта может обрабатывать следующие персональные данные Пользователя:
			ul
				li Фамилия, имя, отчество;
				li Электронный адрес;
				li Номер (-а) телефонов;
				li Название организации;
				li Должность.
			p Также на сайте происходит сбор и обработка обезличенных данных о посетителях (в т.ч. файлов «cookie») с помощью сервисов интернет-статистики (Яндекс Метрика и Гугл Аналитика и других).
			p Вышеперечисленные данные далее по тексту Политики объединены общим понятием «Персональные данные».
			h3.my-4 4. Цели обработки персональных данных
			p  Цель обработки персональных данных Пользователя — уточнение деталей запроса/заказа; регистрация на маркетинговые мероприятия; информирование Пользователя посредством отправки электронных писем (в том числе о новых решениях и услугах, специальных предложениях и корпоративных событиях).
			p Пользователь всегда может отказаться от получения информационных сообщений, направив Администрации сайта письмо на адрес электронной почты info@avectis.by с пометкой «Отказ от уведомлений ОДО (компании) «АВЕКТИС».
			p Обезличенные данные Пользователей, собираемые с помощью сервисов интернет-статистики, служат для сбора информации о действиях Пользователей на сайте, улучшения качества сайта и его содержания.
			h3.my-4 5. Правовые основания обработки персональных данных
			p  Администрация сайта обрабатывает персональные данные Пользователя только в случае их заполнения и/или отправки Пользователем самостоятельно через специальные формы, расположенные на сайте avectis.by. Заполняя соответствующие формы и/или отправляя свои персональные данные Администрации сайта, Пользователь выражает свое согласие с данной Политикой конфиденциальности.
			p Администрация сайта обрабатывает обезличенные данные о Пользователе в случае, если это разрешено в настройках браузера Пользователя (включено сохранение файлов «cookie» и использование технологии JavaScript).
			h3.my-4 6. Порядок сбора, хранения, передачи и других видов обработки персональных данных
			p Безопасность персональных данных, которые обрабатываются Администрацией сайта, обеспечивается путем реализации правовых, организационных и технических мер, необходимых для выполнения в полном объеме требований действующего законодательства Республики Беларусь в области защиты персональных данных.
			p Администрация сайта обеспечивает сохранность персональных данных и принимает все необходимые меры для предотвращения доступа неуполномоченных лиц к персональным данным Пользователя.
			p Персональные данные Пользователя никогда, ни при каких условиях не будут переданы третьим лицам, за исключением случаев, связанных с исполнением действующего законодательства.
			p В случае выявления неточностей в персональных данных, Пользователь может актуализировать их самостоятельно, путем направления Администрации сайта уведомление на адрес электронной почты info@avectis.by с пометкой «Актуализация персональных данных».
			p Срок, на который дается согласие на обработку персональных данных, является неограниченным. Пользователь может в любой момент отозвать свое согласие на обработку персональных данных, направив Администрации сайта уведомление посредством электронной почты на электронный адрес Оператора info@avectis.by с пометкой «Отзыв согласия на обработку персональных данных».
			h3.my-4 7. Трансграничная передача персональных данных
			p Администрация сайта до начала осуществления трансграничной передачи персональных данных обязана убедиться в том, что иностранным государством, на территорию которого предполагается осуществлять передачу персональных данных, обеспечивается надежная защита прав субъектов персональных данных.
			p Трансграничная передача персональных данных на территории иностранных государств, не отвечающих вышеуказанным требованиям, может осуществляться только в случае наличия согласия субъекта персональных данных на трансграничную передачу его персональных данных и/или исполнения договора, стороной которого является субъект персональных данных.
			h3.my-4 8. Заключительные положения
			p Пользователь может получить любые разъяснения по интересующим вопросам, касающимся обработки его персональных данных, обратившись к Администрации сайта с помощью электронной почты info@avectis.by.
			p В данном документе будут отражены любые изменения в обработке персональных данных Администрацией сайта. Политика конфиденциальности действует бессрочно до замены ее новой версией.
			p Актуальная версия Политики в свободном доступе расположена в сети Интернет по адресу &nbsp;
				a(href='https://avectis.by/politicy') https://avectis.by/politicy