extends ../layout/main

block mainVariables
	- pageTitle = 'Ui kit';
	- pageRootClass = 'ui';
	- activeNavIndex = 1;

block mainContent

	- text = 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet aspernatur beatae distinctio dolorem dolorum ex harum, nesciunt nisi nobis praesentium quam quasi quod quos suscipit, ullam voluptates voluptatum? Nobis, totam!';

	.container
		+title({
			tag: 'h1',
			content: 'Заголовок 1 уровня'
		})
		+title({
			tag: 'h2',
			content: 'Заголовок 2 уровня'
		})
		+title({
			tag: 'h3',
			content: 'Заголовок 3 уровня'
		})
		+title({
			tag: 'h4',
			content: 'Заголовок 4 уровня'
		})
		+title({
			tag: 'h5',
			content: 'Заголовок 5 уровня'
		})
		+title({
			tag: 'h6',
			content: 'Заголовок 6 уровня'
		})

		hr.my-4

		p.text-size-fs-xl P1 - 24px, Regular, Montserrat
		p.bold P2 - 18px, SemiBold, Montserrat Alternates
		p P3- 18px, Regular, Montserrat Alternates
		p.text-fs-md P4 - 14px, Regular, Montserrat
		p.text-fs-xs P5 - 12px, Regular, Montserrat

		p.text-size-fs-2

		hr.my-4

		p
			strong Example text default paragraph: #{' '}
			| #{text}
		p.text-primary
			strong Example text primary paragraph: #{' '}
			| Example text primary paragraph: #{text}

		p.text-danger
			strong Example text danger paragraph: #{' '}
			| Example text danger paragraph: #{text}


		p
			small Example text small
		p
			strong Example text strong

		hr.my-4

		+button({
			buttonType: 'submit',
			type: 'default',
			content: 'Button default',
			classes: 'mainBtn'
		})

		hr.my-4

		+field({
			type: 'select',
			classes: 'px-4 py-2',
			placeholder: 'test',
			options: [
				{
					value: 'Select option 1',
					content: 'Select option 1',
					checked: true
				},
				{
					value: 'Select option 2',
					content: 'Select option 2'
				},
				{
					value: 'Select option 3',
					content: 'Select option 3'
				}
			]
		})
		form(class=['js-form-validate'])
			.row.py-4
				.col-md-6.col-lg-auto
					+field({
						type: 'radio',
						name: 'ui-radio',
						checked: true,
						content: 'Radio 1'
					})
				.col-md-6.col-lg-auto
					+field({
						type: 'radio',
						name: 'ui-radio',
						content: 'Radio 2'
					})
				.col-md-6.col-lg-auto
					+field({
						type: 'checkbox',
						name: 'ui-checkbox',
						checked: true,
						content: 'Checkbox 1'
					})
				.col-md-6.col-lg-auto
					+field({
						type: 'checkbox',
						name: 'ui-checkbox',
						content: 'Checkbox 2',
						validate: true
					})
			.row
				.col-md-6.col-lg-4
					+field({
						type: 'textarea',
						label: 'Textarea example:',
						placeholder: 'Textarea placeholder',
						classes: 'border rounded py-2 px-3',
						validate: true,
						validateLength: 3
					})
				.col-md-6.col-lg-4
					+field({
						type: 'text',
						label: 'Text input example:',
						placeholder: 'Text input placeholder',
						classes: 'border rounded py-2 px-3',
						validate: true
					})
				.col-md-6.col-lg-4
					+field({
						type: 'number',
						label: 'Number input example:',
						placeholder: 'Number input placeholder',
						classes: 'border rounded py-2 px-3',
						validate: true
					})
			+button({
				buttonType: 'submit',
				type: 'default',
				content: 'Submit',
				classes: 'mainBtn'
			})
		hr.my-4

		.row.gx-3.py-4
			.col-auto
				.spinner-border.text-primary
			.col-auto
				.spinner-border.text-secondary
			.col-auto
				.spinner-border.text-success
			.col-auto
				.spinner-border.text-danger

		hr.my-4

		.row.py-4
			.col-sm-6
				p Lazy image as img and width broken url:
				.ratio.ratio-16x9
					+lazyImage({
						imageSrc: 'https://picsum.photos/i/0/1600/900',
						type: 'img',
						classes: 'w-100 h-100',
						imageClasses: 'w-100 h-100'
					})
			.col-sm-6
				p Lazy image as background:
				.ratio.ratio-16x9
					+lazyImage({
						imageSrc: 'https://picsum.photos/id/10/1600/900',
						type: 'background',
						classes: 'w-100 h-100',
						imageClasses: 'w-100 h-100'
					})