@import '../utilites/variables';

.mainBtn {
	display: inline-block;
	font-family: 'Montserrat Alternates', sans-serif;
	font-style: normal;
	width: fit-content;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	background: #4392F1;
	border-radius: 5px;
	padding: 10px 20px;
	border: 1px solid #4392F1;
	color: white;
	transition: .25s all ease;
	&:hover {
		position: relative;
		color: #4392F1;
		background: white;
	}
	&.inverted {
		color: #4392F1;
		background: white;
		&:hover {
			position: relative;
			color: white;
			background: #4392F1;
		}
	}
	&:active {
		background: rgba(67, 146, 241, 0.54);
	}
	&.login {
		padding: 10px 30px;
		border: 1px solid #4392F1;
		border-radius: 5px;
		transition: .25s all ease;
		background: white;
		color: black;
		@media (max-width: 1000px) {
			font-style: normal;
			font-weight: 600;
			font-size: 12px;
			line-height: 12px;
			padding: 10px 16px;
		}
		&:hover {
			background: #4392F1;
			color: white;
		}
		&:active {
			background: rgba(67, 146, 241, 0.54);
		}
	}
	@media (max-width: 1000px) {
		font-style: normal;
		font-weight: 600;
		font-size: 12px;
		line-height: 12px;
		padding: 10px 16px;
	}

	@media (max-width: 370px) {
		font-size: 10px;
		line-height: 12px;
		padding: 5px 15px;
	}
}

.listBtn {
	padding: 10px 15px;
	border: 1px solid black;
	border-radius: 10px;
	font-family: $font-family-sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	@media (max-width: 1000px) {
		font-weight: 500;
		font-size: 12px;
		line-height: 15px;
	}

	&:hover {
		background: black;
		color: white;
		svg {
			fill: white;
		}
		#arrowCourse {
			path {
				fill: white;
			}
		}
	}
}