@import '../utilites/variables';

.footer {
	&__link {
		@media (max-width: 1000px) {
			width: 40%;
			&:last-child {
				width: 50%;
			}
		}
	}

	&_text {
		@media (max-width: 1000px) {
			font-family: 'Montserrat', sans-serif;
			font-style: normal;
			font-weight: normal;
			font-size: 10px;
			line-height: 12px;
		}
	}

	&__phone {
		font-size: 24px;
		@media (max-width: 1000px) {
			font-size: 10px;
		}
	}

	&__media {
		margin-bottom: 25px;
		margin-top: 30px;
		@media (max-width: 1000px) {
			margin-bottom: 20px;
			margin-top: 0;
		}
	}
}