@import '../utilites/variables';
@import '../utilites/mixins';
@import 'node_modules/bootstrap/scss/vendor/rfs';

.freeLesson {
	&__link {
		color: #0d6efd;
	}

	&__planets {
		position: absolute;
		width: 75%;
		height: 100%;
		object-fit: contain;
		right: 0;
		top: 15%;
		z-index: 0;
		@media (max-width: 1000px) {
			width: 55%;
			top: 60%;
		}
	}

	&__circles {
		position: relative;
		z-index: 1;
	}

	&__circle {
		z-index: 3;
		position: absolute;
		img {
			border-radius: 100px;
		}
		&:nth-child(1) {
			width: 150px;
			top: -20%;
			left: 50px;
		}
		&:nth-child(2) {
			width: 100px;
			top: 10%;
			left: 50%;
		}
		&:nth-child(3) {
			width: 150px;
			top: 50%;
			left: 25%;
		}
		&:nth-child(4) {
			width: 125px;
			top: 50%;
			left: 75%;
		}
		@media (max-width: 1000px) {
			&:nth-child(1) {
				width: 50px;
				top: -55px;
				left: auto;
				right: 50px;
			}
			&:nth-child(2) {
				width: 35px;
				top: 10px;
				left: auto;
				right: 60px;
			}
			&:nth-child(3) {
				width: 50px;
				top: 0;
				left: auto;
				right: 35%;
			}
			&:nth-child(4) {
				width: 50px;
				top: 40%;
				left: auto;
				right: 0px;
			}
		}
	}

	&__back {
		overflow: visible;
		z-index: 1;
		position: relative;
		&__img {
			position: absolute;
			z-index: 0;
			right: 10px;
			top: -70px;
			width: 800px;
		}
		&__img-mobile  {
			position: absolute;
			z-index: 0;
			width: 160px;
			right: 0;
			bottom: -15px;
		}
	}

	overflow: visible;

	&__wrap {
		background: rgba(226, 207, 234, 0.74);
		border-radius: 34px;
		background-image: url("../img/banner_line.png");
		background-size: cover;
		background-repeat: no-repeat;
		margin-top: 5rem;
		position: relative;
		@media (max-width: 1000px) {
			margin-top: 1.5rem;
			border-radius: 8px;
			margin-left: -30px;
			margin-right: -30px;

		}
		@media (max-width: 400px) {
			margin-left: auto;
			margin-right: auto;
		}
	}

	&__text {
		width: fit-content;

		&:after {
			content: '';
			width: 250px;
			height: 60px;
			display: block;
			background-image: url('../img/!!!.svg');
			background-repeat: no-repeat;
			background-size: contain;
			position: absolute;
			top: -50px;
			left: -60px;
			z-index: 0;
		}

		&:before {
			content: '';
			width: 250px;
			height: 60px;
			display: block;
			background-image: url('../img/subline.svg');
			background-repeat: no-repeat;
			background-size: contain;
			position: absolute;
			top: 30px;
			right: -10px;
			z-index: 0;
		}

		@media (max-width: 767px) {
			font-style: normal;
			font-weight: 500;
			font-size: 18px;
			line-height: 22px;
			margin-top: 40px;
			&:after {
				width: 50px;
				height: 40px;
				top: -40px;
				left: -30px;
			}
			&:before {
				width: 130px;
				top: 20px;
			}
		}
	}
}