@import '../utilites/variables';
$glass: rgba(67, 146, 241, 0.6);
$glass-icon: rgba(67, 146, 241, 0.7);
$option: #320a28;

.header {
	.nav-link {
		border-bottom: 1px solid transparent;
		&:active {
			color: #4C4B4C;
		}
		&:hover {
			font-weight: 600;
			border-bottom: 1px solid rgba(0, 0, 0, 0.09);
		}
	}

	select {
		/* Reset */
		appearance: none;
		border: 0;
		outline: 0;
		font: inherit;
		/* Personalize */
		height: 3em;
		padding: 0 4em 0 1em;
		background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg)
		no-repeat right 0.8em center / 1.4em,
		linear-gradient(to left, $glass-icon 3em, $glass 3em);
		color: white;
		border-radius: 0.25em;
		box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
		cursor: pointer;
		/* <option> colors */
		option {
			color: inherit;
			background-color: $option;
		}
		/* Remove focus outline */
		&:focus {
			outline: none;
		}
		/* Remove IE arrow */
		&::-ms-expand {
			display: none;
		}
	}

	.mobileMenu {
		display: none;
	}

	.deskNav {
		display: flex;
	}

	@media (max-width: 1000px) {
		.mobileMenu {
			display: block;
		}
		.deskNav {
			display: none;
		}
	}
}