@import '../utilites/variables';

[data-bs-toggle='modal'] {
	cursor: pointer;

	@include interaction('mouse') {
		&:hover {
			color: get($colors, pink)
		}
	}
}

.modal {
	svg {
		width: 7px;
		height: 7px;
	}
	user-select: none;

	&-content {
		background: #FFFFFF;
		box-shadow: 4px 4px 26px -7px rgba(0, 0, 0, 0.25);
		border-radius: 34px;
		padding: $spacer * 2 $spacer * 3 $spacer * 3 $spacer * 3;
		@media (max-width: 1000px) {
			padding: 10px;
			border-radius: 10px;
			margin: 20px;
		}
	}
	.form__field {
		font-size: 10px;
	}
	&__thanks {
		font-family: 'Montserrat', sans-serif;
		font-style: normal;
		font-weight: normal;
		font-size: 14px;
		line-height: 17px;
		color: #121212;
		@media (max-width: 1000px) {
			font-weight: 300;
			font-size: 10px;
			line-height: 12px;
			color: #121212;
		}
	}
	&-body {
		//padding: $spacer * 3 0 0 0;
		overflow-x: hidden;
		@media (max-width: 1000px) {
			padding: 0.175rem
		}
	}
	&-close {
		@include transition(color);
		@media (max-width: 1000px) {
			height: 8px;
		}

		svg {
			width: 15px;
			height: 15px;
		}
		@include interaction('mouse') {
			&:hover {
				color: get($colors, pink)
			}
		}
	}
}