.reviews {
	width: 100%;
	position: relative;
	margin-bottom: 30px !important;
	.mainSwiper {
		width: 100%;
		padding-bottom: 15px;
		position: relative;
		&:before {
			right: 0;
			top: 0;
			content: '';
			width: 100px;
			height: 90%;
			display: block;
			position: absolute;
			background: linear-gradient(270deg, rgba(255, 255, 255, 1) 25.51%, rgba(255, 255, 255, 0) 76.76%);
			z-index: 2;
			max-height: 225px;
			@media (max-width: 1000px) {
				display: none;
			}
		}
		@media (max-width: 1000px) {
			width: 100%;
			p {
				font-size: 12px;
			}
		}
	}


	img {
		border-radius: 26px;
	}
	.collapseBtn {
		width: 30px;
		height: 30px;
		background-image: url('../img/collapseUp.svg');
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;
		right: 15px;
		&.collapsed {
			background-image: url('../img/collapseDown.svg');
			width: 40px;
			height: 40px;
			right: 10px;
		}
	}
	.tns-controls {
		display: flex;
		justify-content: flex-end;
	}
	&__review {
		background: #FFFEFE;
		box-shadow: 12px 2px 26px -7px rgba(143, 143, 143, 0.37);
		border-radius: 34px;
		padding: 0 !important;
		@media (max-width: 1000px) {
			box-shadow: 0 10px 26px -7px rgba(143, 143, 143, 0.37);
		}

		&.swiper-slide {
			width: 492px;
			@media (max-width: 1000px) {
				width: 100%;
			}
		}
	}
	&__controls {
		button {
			opacity: .6;
			&:hover {
				opacity: .8;
			}
			&:active {
				opacity: 1;
			}
		}
	}
}