@import '../utilites/variables';
@import 'node_modules/bootstrap/scss/vendor/rfs';

h1 {
	@include rfs(48px);
	font-family: $font-family-sans-serif;
	font-style: normal;
	font-weight: 600;
	//font-size: 48px;
	line-height: 59px;

}

.dots {
	&:before {
		content: '';
		width: 125px;
		height: 100px;
		display: block;
		background-image: url('../img/dots.svg');
		background-repeat: no-repeat;
		background-size: contain;
		position: absolute;
		top: -50px;
		left: -65px;
	}

	@media (max-width: 1000px) {
		&:before {
			width: 45px;
			height: 35px;
			top: -14px;
			left: -20px;
		}
	}
}

h2 {
	font-family: $font-family-sans-serif-alternates;
	@include rfs(36px);
	font-style: normal;
	font-weight: 600;
	line-height: 44px;
	position: relative;
	@media (max-width: 1000px) {
		@include rfs(15px);
		line-height: 16px;
	}
}

h3 {
	font-family: $font-family-sans-serif-alternates;
	font-style: normal;
	font-weight: 500;
	@include rfs(24px);
	line-height: 150.9%;
	@media (max-width: 1000px) {
		@include rfs(14px);
		line-height: 16px;
	}
}

h4 {
	font-family: $font-family-sans-serif-alternates;
	font-style: normal;
	font-weight: 600;
	@include rfs(16px);
	line-height: 150.9%;
}

.text {
	&-fs-xl {
		font-family: $font-family-sans-serif;
		font-style: normal;
		font-weight: normal;
		@include rfs(24px);
		line-height: 29px;
		@media (max-width: 1000px) {
			@include rfs(14px);
			line-height: 155.4%;
		}
	}

	&-fs-md {
		font-family: $font-family-sans-serif;
		font-style: normal;
		font-weight: normal;
		@include rfs(14px);
		line-height: 150.9%;
	}

	&-fs-xs {
		font-family: $font-family-sans-serif;
		font-style: normal;
		font-weight: normal;
		@include rfs(12px);
		line-height: 15px;
	}

	&-fs-xxs {
		font-family: $font-family-sans-serif;
		font-style: normal;
		font-weight: normal;
		@include rfs(10px);
		line-height: 15px;
	}
}

p {
	font-family: $font-family-sans-serif;
	font-style: normal;
	font-weight: normal;
	@include rfs(18px);
	line-height: 150.9%;
	@media (max-width: 1000px) {
		font-weight: normal;
		font-size: 12px;
		line-height: 15px;
	}
}

.bold {
	font-weight: 600;
}

.fw-500 {
	font-weight: 500;
}

p.underlined {
	border-bottom: 1px solid rgba(67, 146, 241, 0.4);
	width: fit-content;
	&-black {
		border-bottom: 1px solid black;
		width: fit-content;
	}
}

.footer_text {
	font-family: $font-family-sans-serif-alternates;
	font-style: normal;
	font-weight: 600;
	@include rfs(18px);
	line-height: 150.9%;
	@media (max-width: 1000px) {
		font-weight: normal;
		@include rfs(10px);
		line-height: 15px;
	}
}

.alternates {
	font-family: $font-family-sans-serif-alternates;
}