@import '../../utilites/variables';
@import '../../utilites/mixins';
@import 'node_modules/bootstrap/scss/vendor/rfs';

.contacts {
	position: relative;
	@media (max-width: 1000px) {
		margin-left: -20px;
	}
	@media (max-width: 400px) {
		margin-left: auto;
	}
	position: relative;
	@media (max-width: 1000px) {
		margin-bottom: 20px;
	}
	&__back {
		position: absolute;
		right: -100px;
		z-index: -1;
		top: -200px;
		width: 365px;
	}
	&__back-mob {
		position: absolute;
		right: 0;
		z-index: -3;
		top: 200px;
		width: 250px;
	}
	&__link {
		svg {
			width: 30px;
		}
	}
}
